section.gray-section.section.about-section
	.container
		.line-flex.h2-line-15 
			h1.h1
				| about
			.arrow-wrap 
				svg(width='84' height='85' viewbox='0 0 84 85' fill='none' xmlns='http://www.w3.org/2000/svg')
					path(d='M3.99959 6.84225L3.99959 81L79.084 81' stroke='#F06E00' stroke-width='8')
					path(d='M4 81L81 3.00051' stroke='#F06E00' stroke-width='8')
		h4.h4.h2-line-30
			| Our Values
		.values-block
			.row-line
				.values-item
					.name Sustainable investments
					p.normal_text 
						| Align your investments to your values with funds that support sustainable, well-governed organizations.
				.values-item
					.name Quality
					p.normal_text 
						| We are aiming to protect investors and facilitate responsible growth of capital.
			.row-line
				.values-item
					.name Integrity
					p.normal_text 
						| We deliver integrity and intellectual confidence to every decision.
				.values-item
					.name Network
					p.normal_text 
						| Our main purpose is to help our partners experience financial well-being. Our focus on long-term relationships is embedded across our business as a top priority.
			.row-line
				.values-item
					.name Investment stewardship
					p.normal_text 
						| We pursue high-quality outcomes by effectively stewarding our time, talent, and resources.
				.values-item
					.name Transparency
					p.normal_text 
						| We are committed to transparency: no hidden cost, no hidden obligations
section.dark-section.section.authors-section
	.container 
		h2.h2.h2-line-30
			| OuR Team
		.authors-block
			.author-row
				.div 
					.author-photo 
						img(src="../idlap/img/vlad.jpg", alt="")
				.author-info 
					p.author-name Vlad Lotsman 
					p.author-position Managing partner
					p.author-text.normal_text.only-desktop Investor in Private Equity with experience inthe US and EU markets. He has many yearsof experience in digital transformation inFortune 500 companies and running an IoT commercial real estate company.
				p.author-text.normal_text.only-mobile Investor in Private Equity with experience inthe US and EU markets. He has many yearsof experience in digital transformation inFortune 500 companies and running an IoT commercial real estate company.
				
				.arrow 
					svg(width='84' height='85' viewbox='0 0 84 85' fill='none' xmlns='http://www.w3.org/2000/svg')
						path(d='M3.99959 6.84225L3.99959 81L79.084 81' stroke='#F06E00' stroke-width='8')
						path(d='M4 81L81 3.00051' stroke='#F06E00' stroke-width='8')
			.author-row
				.div 
					.author-photo
						img(src="../idlap/img/evgeniy.jpg", alt="")
				.author-info 
					p.author-name Evgeniy Kolisnyk
					p.author-position Managing partner
					p.author-text.normal_text.only-desktop He manages investments in private companies. M&amp;A advisor specializing in B2B &amp; SaaS. 12 years advising heads of industry companies in Europe, North America.
				p.author-text.normal_text.only-mobile He manages investments in private companies. M&amp;A advisor specializing in B2B &amp; SaaS. 12 years advising heads of industry companies in Europe, North America.
				.arrow 
					svg(width='84' height='85' viewbox='0 0 84 85' fill='none' xmlns='http://www.w3.org/2000/svg')
						path(d='M3.99959 6.84225L3.99959 81L79.084 81' stroke='#F06E00' stroke-width='8')
						path(d='M4 81L81 3.00051' stroke='#F06E00' stroke-width='8')
section.white-section.section.operating-section
	.container
		h2.h2 Operating Príncipes
		.wrap-operations 
			.diagrams
				.operating-info
					.item 
						.header-operating 
							span.color-blue 
							p.heading_3 Be Leading
						p.normal_text Identify trends and champions via unique company screening and converged research. Build confidence and move cogently decisively to invest.
					.item 
						.header-operating 
							span.color-orange 
							p.heading_3 Deliver values
						p.normal_text Global analysis delivers investments outlooks, portfolio research, and return expectations.
					.only-mobile
						.wrp-circle 
							img(src="../idlap/img/circle.png", alt="") 
					.item 
						.header-operating 
							span.color-green 
							p.heading_3 Clear values
						p.normal_text Sustainable investments, Integrity, Investment stewardship, Qualitz, Network, and Stewardship.
					.item 
						.header-operating 
							span.color-yellow 
							p.heading_3 Stay focused
						p.normal_text Generate high returns multiples with a pure disruptive innovations focus.
				.circle.circle1.only-desktop
					img(src="../idlap/img/circle1.png", alt="")
				.circle.circle2.only-desktop
					img(src="../idlap/img/circle2.png", alt="")
				.circle.circle3.only-desktop
					img(src="../idlap/img/circle3.png", alt="")
				.circle.circle4.only-desktop
					img(src="../idlap/img/circle4.png", alt="")
section.dark-section.section.about-contact-section
	.container 
		h2.h2.h2-line-15
			| Contact
		.text-50
			.left-padding
			.wrp.right-part.right-part-60.cont-text
				h4.heading_2 Invest with IDALP! Today, we identify more innovative businesses than ever before. We give you access to the top 5% of investment opportunities, which we strictly review. Our customers already understand the opened opportunities and invest over $50M.
				a.btn(href="./contact.html").big
					| register as investor
					svg(width='9' height='9' viewbox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg')
						path(class="arrow-btn" d='M8.6 1C8.6 0.668629 8.33137 0.4 8 0.4L2.6 0.4C2.26863 0.4 2 0.668629 2 1C2 1.33137 2.26863 1.6 2.6 1.6L7.4 1.6L7.4 6.4C7.4 6.73137 7.66863 7 8 7C8.33137 7 8.6 6.73137 8.6 6.4L8.6 1ZM1.42426 8.42426L8.42426 1.42426L7.57574 0.575736L0.575736 7.57574L1.42426 8.42426Z' fill='')