section.main-section.dark-section.equity-section
	.container
		.equity-main_text
			h1.h1 
				span.accent-link Private equity investment provider 
				| for private banks and wealth managers
			.wrp-long-btn
				a.btn(href="./contact.html")
					| Schedule a calls
					svg(width='9' height='9' viewbox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg')
						path( class="arrow-btn" d='M8.6 1C8.6 0.668629 8.33137 0.4 8 0.4L2.6 0.4C2.26863 0.4 2 0.668629 2 1C2 1.33137 2.26863 1.6 2.6 1.6L7.4 1.6L7.4 6.4C7.4 6.73137 7.66863 7 8 7C8.33137 7 8.6 6.73137 8.6 6.4L8.6 1ZM1.42426 8.42426L8.42426 1.42426L7.57574 0.575736L0.575736 7.57574L1.42426 8.42426Z' fill='')
section.gray-section.tomorrow-section.section-100-p
	.container 
		h2.h2.dark.h2-line-15
			| Tomorrow’s 
			br
			| Alternatives
		.text-50
			.left-padding
			.wrp.right-part.right-part-60
				.heading_2 IDALP Capital offers a range of private market investment opportunities to construct an investment portfolio for your clients, that generates differentiated growth.
section.white-section.integrated-section.section-150-p
	.container 
		h2.h2.dark.h2-line-15
			| integrated view
		.proven-process-block.block-40x60
			.left 
				.heading_2 
					| We are due diligence hackers at finding hyper-growth investment opportunities in truly disruptive companies.
				
			.right
				.proven-illustration
					table.charts-css.column.show-labels.show-4-secondary-axes.datasets-spacing-4.data-spacing-5.multiple.data-spacing-10#chart-proven
						caption Years Compared
						thead
							tr
								th Year
								th Progress 1
								th Progress 2s
								th Progress 2
						tbody
							tr
								th(scope='row') 
								td.gray-td(style='--size:0')
									span.data   
								td.red-td(style='--size:0')
									span.data
								td.zero-td(style='--size:00;')
									span.data
							tr
								th(scope='row') Lemonade
								td.gray-td(style='--size:0.1;')
									span.data  $2 
								td.red-td(style='--size:0.2;')
									span.data  $5,5
								td.zero-td(style='--size:00;')
									span.data
							tr
								th(scope='row') Unity
								td.gray-td(style='--size:0.3;')
									span.data  $6,1
								td.red-td(style='--size:0.5;')
									span.data  $28,1
								td.zero-td(style='--size:00;')
									span.data
							tr
								th(scope='row') Palantir
								td.gray-td(style='--size:0.3;')
									span.data  $8,5
								td.red-td(style='--size:0.7;')
									span.data  $43,2
								td.zero-td(style='--size:00;')
									span.data
							tr
								th(scope='row') Snowflake
								td.gray-td(style='--size:0.3;')
									span.data  $12,4 
								td.red-td(style='--size:0.8;')
									span.data  $67,1
								td.zero-td(style='--size:00;')
									span.data
							tr
								th(scope='row') Beyond Meat
								td.gray-td(style='--size:0.1;')
									span.data  $1,3 
								td.red-td(style='--size:0.5;')
									span.data  $8,5
								td.zero-td(style='--size:00;')
									span.data
							tr
								th(scope='row') Peloton
								td.gray-td(style='--size:0.25;')
									span.data  $4,2
								td.red-td(style='--size:0.6;')
									span.data  $34,7
								td.zero-td(style='--size:00;')
									span.data
							tr
								th(scope='row') Crowdstrike
								td.gray-td(style='--size:0.1;')
									span.data  $3,2
								td.red-td(style='--size:0.7;')
									span.data  $46,6
								td.zero-td(style='--size:00;')
									span.data
					table.subline-table
						tr 
							td.first Multiple from entry:
							td 3x
							td 5x
							td 5x
							td 5x
							td 7x
							td 8x
							td 15x
section.white-section.access-section.section-100-p
	.container 
		h2.h2.dark.h2-line-15
			| access to companies 
			br
			| worldwide
		.map-block.block-40x60
			.left 
				.heading_2 
					| Our global portfolio represents thematic strategies focused on innovation.
			.right
				.map-illustration
					img(src="./img/maps.png", alt="")
					.texts-on-map
						.normal_text 
							| 49 Companies in 12 Countries
						.small_text 
							| Our global portfolio spans market leaders in financical services, health care, housing, transportation, media, food, and education across Noth America, Europe, and Asia.	
section.white-section.section.section-110-p.section-to-rows.earlier-liqui-2.earlier-liqui
	.container 
		h2.h2
			| Earlier Liquidity
		.two-parts-block.top-border-3
			.part1
				p.heading_3 
					span.accent-link  IDLAP Capital 
					| makes private equity to the liquid asset class.
			.part2
				p.heading_3 
					span.accent-link IDALP Capital 
					| provides an infrastructure to buy and sell private shares throughout the exit lifecycle.
	.container.will-100
		.two-parts-block.gray-back
			.part1
				.gray-arrow 
					svg(width='84' height='85' viewbox='0 0 84 85' fill='none' xmlns='http://www.w3.org/2000/svg')
						path(d='M79.9994 78.1577L79.9994 4L4.91504 4' stroke='#E3E3E3' stroke-width='8')
						path(d='M80 4L3 81.9995' stroke='#E3E3E3' stroke-width='8')
			.part2
				p.normal_text IDALP Private Equity funds allow secondary trades
				p.normal_text Liquidity solution for associated investors
				p.normal_text IDALP has the experience and platform to facilitate secondary transactions for our association of investors
section.white-section.section.section-0-p.section-to-rows.key-benefit-section-2.key-benefit-section
	.container 
		h2.h2.h2-line-15
			| Key benefits
		.text-50
			.left-padding
				h4.h4 
					| Reasons, why private investors should consider an investment with IDALP Capital 
					| in the private market. 
			.wrp.right-part.right-part-60
				.lines-block 
					.lines-block.colored-rows 
						.line 
							.text-part
								.line_text.normal_text_2
									| Access to innovations 
								.normal_text 
									| Receiving access to private companies in some of the most promising areas of the economy.
						.line 
							.text-part
								.line_text.normal_text_2
									| Growth potential  
								.normal_text 
									| Capture the long-term growth with best risk-reward
 
						.line 
							.text-part
								.line_text.normal_text_2
									| Tool for diversification
 
								.normal_text 
									| We offer a tool to build differentiated portfolio capabilities with a low correlation of relative returns to public market indices. 
						.line
							.text-part
								.line_text.normal_text_2
									| Grounded in research  
								.normal_text 
									| Combines top-down and bottom-up research in its portfolio management to identify innovative companies and convergence across markets.
						.line
							.text-part
								.line_text.normal_text_2
									| Cost-effective  
								.normal_text 
									| 0% capital gain tax in Grand Duchy of Luxembourg

section.dark-section.adviser-block 
	.container 
		.sender-block
			.acc 
				h2.h2 
					span.accent-link Share this page
					br
					| to your adviser
			.wrp-a
				a.btn(href="mailto:?subject=late%20stage%20Investment%20opportunities%20&body=Dear%20advisor%2C%0D%0A%0D%0Aplease%20have%20a%20look%20at%20this%20fund%2C%20which%20offers%20late-stage%20investment%20opportunities%0D%0A%0D%0Ahttps%3A%2F%2Fidalpcapital.com%2Fbank-and-wealth-managers%0D%0A%0D%0AGreeting%2C")
					| Send
					svg(width='9' height='9' viewbox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg')
						path( class="arrow-btn" d='M8.6 1C8.6 0.668629 8.33137 0.4 8 0.4L2.6 0.4C2.26863 0.4 2 0.668629 2 1C2 1.33137 2.26863 1.6 2.6 1.6L7.4 1.6L7.4 6.4C7.4 6.73137 7.66863 7 8 7C8.33137 7 8.6 6.73137 8.6 6.4L8.6 1ZM1.42426 8.42426L8.42426 1.42426L7.57574 0.575736L0.575736 7.57574L1.42426 8.42426Z' fill='')