section.gray-section.section.imprint.text-section.contcts-section
	.container 
		h1.h1-texts.h2-line-15
			| СOntact
		.heading_3-texts.h2-line-15 
			| We are happy to discuss our investment solutions in more detail. Use the email address below to request a conference call with an IDALP representative. To make sure your request will be referred to the 
			span.accent-link right person, be sure to provide your full name, phone number, and details of your request.
		.simple-contacts.h2-line-15 
			.item
				.simple-contacts-name  E-Mail:
				a.no-upper(href="mailto:hi@idalpcapital.com") hi@idalpcapital.com
		.div
			p.simple_text
				| Mailing Address: 
			p.simple_text
				| IDALP Capital S.à r.l.
			p.simple_text
				| 1, Haaptstrooss,
			p.simple_text
				| L-9806 Hosingen,
			p.simple_text.simple_bold
				| Grand Duchy of Luxembourg
