section.gray-section.section.policy-page.text-section
	.container 
		h1.h1-texts.h2-line-15
			| Disclaimer  
		p.normal_text 
			| This confidential summary is for information purposes only and does not constitute an offer to invest or acquire securities. These materials are intended to provide an overview and do not purport to provide complete disclosure. The fund term sheets the definitive legal document.
			| Idalp Capital investment portfolio will have high growth potential and, inherently, is exposed to risks that can imply losing all or part of the money invested.
		p.normal_text 
			| Besides, hypothetical future returns are stated on a gross basis unless otherwise indicated. Had these investments been made through the proposed Idalp Capital, returns to investors would be reduced by fund expenses, including management fees, by the general partners carrying interest and a subscription fee that the Fund investor will incur on a pro-rata basis.
		p.normal_text 
			| Certain statements contained herein regarding hypothetical returns on future investments are not meant to constitute projections or promises of possible investment performance proposed by Idalp Capital: Actual Investment Performance Would Likely Differ.
		p.normal_text 
			| Considering the prior performance information contained herein, prospective investors should bear in mind that past performance is not necessarily indicative of future results. There can be no assurance that future investment will achieve comparable results.
		p.normal_text 
			| This summary is being furnished to prospective investors on a confidential basis. By Accepting this summary, the recipient acknowledges and agrees that it (1) will maintain the information contained herein strict confidence and will not, under any circumstances, reproduce this summary partially or into Taylor disclose any of the information herein another person, and(2)will return this summary upon request.
