section.main-section.dark-section.Family-page-section
	.container
		.equity-main_text
			h1.h1.h2-line-15
				| Family offices
			p.fam-of-text 
				| Your Private Equity Partner specialized in structuring and offering direct investments into late stage companies    
		.table-persons
			img(src="../idlap/img/table-person.png", alt="")
section.gray-section.new-stand-section.section-150-p
	.container 
		h2.h2.dark
			| The new standard 
			br
			| of understanding
		.text-50
			.left-padding
			.wrp.right-part.right-part-50
				.stand-lines 
					.line 
						p.normal_text 
							| We focus on companies with a market capitalization of over $ 500M that are already targeting IPO. Such a strategy offers an attractive Risk/Reward ratio and a visible exit scenario. We select the companies only with the successful proven product-market fit, established products, high market acceptance, unique characteristics, and solid management
					.line 
						p.normal_text 
							| We are working hand in hand with founders and decision-makers to get the best deal 
							| for you through our established network in the US and Europe. We assist you through 
							| the entire investment process: relevant company information, organization of stocks, negotiation of contracts, and the finalization of the transaction
					.line 
						p.normal_text 
							| Your entrepreneurial spirit and our knowledge will result in investment opportunities beyond common stock markets
section.gray-section.section.section-p.roadto-section.roadto-section-fam
	.container 
		h2.h2.h2-line-15
			| Road to sustainable future
		.text-50
			.left-padding
				h4.h4 
					| Capital growth investments 
					br
					|in today’s private markets
			.wrp.right-part.right-part-60
				.wrap-graph 
					p.heading_4 
						| Our current investment priorities
					p.normal_text 
						| Market capitalization of consumer tech exits in each decade, adjusted for inflation for building investments for the next generation where the megatrends come together
					.graph-block
						img(src="../idlap/img/roadto.png", alt="")
section.white-section.fam-deal-section.section-110-p
	.container 
		h2.h2.dark.h2-line-15
			| Deal advisory
		.text-50
			.left-padding
			.wrp.right-part.right-part-50
				.stand-lines 
					.line.lines-30-p 
						p.normal_text 
							| The partnership with our investors means that we share the same goals and incentives. We work together to ensure the complete transparency of the deals that we are entering.

					.line.lines-30-p 
						p.normal_text 
							| Being investors, we understand the pains of building such complex structures while meeting the interests of LPs, GPs, and other parties.
					.line.lines-30-p 
						p.normal_text 
							| We provide funds and deal structuring services as well as investment deal management. 
					.line.lines-30-p 
						p.normal_text 
							| Legal, tax, and technical advisories often provide contradictory advice 
							| and recommendations — we help you make it the right way and save time and money through our vast database of templates and best practices
section.white-section.parn-deal-section
	.container 
		h2.h2.dark
			| Partnering
		.heading_2 Long term relationships
		.long-2-parts
			.part-left 
				.row-line-part
					span.number 01
					p.heading_4 Protection of the investor interests
				.row-line-part
					span.number 02
					p.heading_4 Investors pass KYC/AML
				.row-line-part
					span.number 03
					p.heading_4 0% capital gain tax for foreign investors
			
			.part-right
				.row-line-part
					span.number 04
					p.heading_4 Wide partner network
				.row-line-part
					span.number 05
					p.heading_4 Inside-out and outside-in deal sourcing approaches
				.row-line-part
					span.number 06
					p.heading_4 Transparent deal structure
section.gray-section.key-forpartn-section.section-110-p
	.container 
		h2.h2.dark.h2-line-15
			| Key benefits 
			br
			| for Partners
		.no-long-lines-block
			.left-p 
				.name-line 
					| Economy of growth
				.line.normal_text 
					| Access to a high return asset class;	
				.line.normal_text 
					| Opportunity to build institutional type of asset allocation;	
				.line.normal_text 
					| Unique product offering to re-engage existing investors and attract new client groups;
				.line.normal_text 
					| Superior customer experience driven by a smooth digital inves.
			.right-p
				.name-line 
					| Customer satisfaction
				.line.normal_text 
					| Recurring fee and one-off setup fee;
				.line.normal_text 
					| Fully variable costs thanks to outsourced solution;
				.line.normal_text 
					| Predictable revenue stream;
				.line.normal_text 
					| Transparent assets distribution.
section.dark-section.adviser-block 
	.container 
		.sender-block
			.acc 
				h2.h2 
					span.accent-link Share this page
					br
					| to your adviser
			.wrp-a
				a.btn(href="mailto:?subject=late%20stage%20Investment%20opportunities%20&body=Dear%20advisor%2C%0D%0A%0D%0Aplease%20have%20a%20look%20at%20this%20fund%2C%20which%20offers%20late-stage%20investment%20opportunities%0D%0A%0D%0Ahttps%3A%2F%2Fidalpcapital.com%2Ffor-family-offices%0D%0A%0D%0AGreeting%2C")
					| Send
					svg(width='9' height='9' viewbox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg')
						path( class="arrow-btn" d='M8.6 1C8.6 0.668629 8.33137 0.4 8 0.4L2.6 0.4C2.26863 0.4 2 0.668629 2 1C2 1.33137 2.26863 1.6 2.6 1.6L7.4 1.6L7.4 6.4C7.4 6.73137 7.66863 7 8 7C8.33137 7 8.6 6.73137 8.6 6.4L8.6 1ZM1.42426 8.42426L8.42426 1.42426L7.57574 0.575736L0.575736 7.57574L1.42426 8.42426Z' fill='')
