section.gray-section.section.imprint.text-section
	.container 
		h1.h1-texts.h2-line-15
			| Imprint
		.text-row
			p.simple_text
				| IDALP Capital S.à r.l.
			p.simple_text
				| 1, Haaptstrooss,
			p.simple_text
				| L-9806 Hosingen,
			p.simple_text.simple_bold
				| Grand Duchy of Luxembourg
		.text-row
			p.simple_text
				| Registergericht:
			p.simple_text.simple_bold
				| Registre de commerce et des sociétés (Luxemburg)
		.text-row
			p.simple_text
				| Registernummer:
			p.simple_text.simple_bold
				| B247871
		.simple-contacts 
			.item
				.simple-contacts-name  Telefon:
				a(href="tel:") +352 111 222 333
			.item
				.simple-contacts-name  E-Mail:
				a.no-upper(href="mailto:") hi@idalpcapital.com
