section.gray-section.section.invest-section
	.container 
		h2.h1.dark.h2-line-15 
			span.accent-link Invest 
			| in Late-Stage companies
		p.heading_4.left-50
			| Tap into a $1B venture-backed equity class. Invest in private late stage companies with Idalp Capital investment funds
		.invest-illustration 
			img(src="../img/invest-man.png", alt="")
section.white-section.section.our-focus-section
	.container 
		h2.h2.dark.h2-line-15
			| our focus
		p.normal_text.left-60
			| We invest primarily in well-established tech leaders when they show the highest growth rate — the least risky and the most profitable investment period. Our past investments include successful projects 
			| in big data, enterprise cloud computing, fintech, mobility, and insurance technologies. We continue looking for new opportunities in these areas but are also open to other industries that may offer exponential growth	
		.text-50
			.left-padding
			.wrp.right-part.right-part-60
				.graph-wrp
					.top-part
						.left-column 
							.p-data $1T
							.p-center  Valuation
							.p-data $1T
							.arrow
								svg(width='12' height='139' viewbox='0 0 12 139' fill='none' xmlns='http://www.w3.org/2000/svg')
									line(x1='5.6' y1='131' x2='5.59999' y2='6' stroke='#151515' stroke-width='0.8' stroke-dasharray='3.29 3.29')
									path(d='M11 6L6 1L1 6' stroke='#151515' stroke-width='0.821596')
									path(d='M1 133L6 138L11 133' stroke='#151515' stroke-width='0.821596')
						.wrap-steps 
							.itm.itm-1 Product-Market Fit
							.itm.itm-2
								svg(width='85' height='12' viewbox='0 0 85 12' fill='none' xmlns='http://www.w3.org/2000/svg')
									path(d='M78 11L84 6L78 1' stroke='#F06E00')
									line(x1='-4.37114e-08' y1='5.5' x2='78' y2='5.49999' stroke='#F06E00')
							.itm.itm-1 Monetization and Scalabilty
							.itm.itm-2
								svg(width='85' height='12' viewbox='0 0 85 12' fill='none' xmlns='http://www.w3.org/2000/svg')
									path(d='M78 11L84 6L78 1' stroke='#F06E00')
									line(x1='-4.37114e-08' y1='5.5' x2='78' y2='5.49999' stroke='#F06E00')
							.itm.itm-1 Profitability
						.central-text 
							p.big 5X-50X
							p.small Growth Opportunity

						.line-1
							svg(width='69' height='17' viewbox='0 0 69 17' fill='none' xmlns='http://www.w3.org/2000/svg')
								path(d='M0 16.5H69V0H0V16.5Z' fill='#ADADAD') 
						.back-rectangle
							.line
								svg(width='431' height='70' viewbox='0 0 431 70' fill='none' xmlns='http://www.w3.org/2000/svg')
									path(d='M0 53V70H431V0C334.035 32.0936 103.128 48.3606 0 53Z' fill='#F06E00')
						.line-3
							svg(width='219' height='210' viewbox='0 -2 200 200' fill='none' xmlns='http://www.w3.org/2000/svg')
								path(d='M0 131V201H203C202.725 193.464 202.341 142.714 203 0C174.012 64.7804 55.3137 114.421 0 131Z' fill='#ADADAD')

