section.gray-section.section.invest-section
	.container 
		h2.h1.dark.h2-line-15 
			span.accent-link Invest 
			| in Late-Stage companies
		p.heading_4.left-50
			| Tap into a $1B venture-backed equity class. Invest in private late stage companies with Idalp Capital investment funds.
		.invest-illustration 
			img(src="../idlap/img/invest-man.png", alt="")
section.white-section.section.our-focus-section
	.container 
		h2.h2.dark.h2-line-15
			| our focus
		p.normal_text.left-60
			| We invest primarily in well-established tech leaders when they show the highest growth rate — the least risky and the most profitable investment period. Our past investments include successful projects 
			| in big data, enterprise cloud computing, fintech, mobility, and insurance technologies. We continue looking for new opportunities in these areas but are also open to other industries that may offer exponential growth.	
		.text-50
			.left-padding
			.wrp.right-part.right-part-60
				.graph-wrp
					img(src="../idlap/img/diagram.jpg", alt="")
section.white-section.section.strategy-section
	.container 
		h2.h2.h2-line-15 
			| Company selection strategy
		//- .half-screen
		.text-50
			.left-padding
				h4.h4 
					| How IDALP Capital 
					<br>
					| selects companies?
			.wrp.right-part.right-part-60
				.lines-block 
					.line 
						.line-icon 
							svg(width='74' height='74' viewbox='0 0 74 74' fill='none' xmlns='http://www.w3.org/2000/svg')
								path(d='M37.9661 40.3868C37.8292 40.3572 37.6887 40.3519 37.5501 40.3726C36.1602 40.2108 35.1118 39.0349 35.1094 37.6362C35.1094 36.9659 34.5659 36.4224 33.8956 36.4224C33.2253 36.4224 32.6818 36.9659 32.6818 37.6362C32.6853 39.972 34.2476 42.0179 36.4998 42.6361V43.8499C36.4998 44.5202 37.0433 45.0637 37.7136 45.0637C38.384 45.0637 38.9275 44.5202 38.9275 43.8499V42.7096C41.527 42.1655 43.2937 39.7444 43.0205 37.1028C42.7467 34.4612 40.5212 32.4538 37.8654 32.4532C36.3434 32.4532 35.1094 31.2192 35.1094 29.6972C35.1094 28.1752 36.3434 26.9412 37.8654 26.9412C39.3874 26.9412 40.6213 28.1752 40.6213 29.6972C40.6213 30.3675 41.1648 30.911 41.8352 30.911C42.5055 30.911 43.049 30.3675 43.049 29.6972C43.0454 27.2447 41.3272 25.1294 38.9275 24.6233V23.5185C38.9275 22.8482 38.384 22.3047 37.7136 22.3047C37.0433 22.3047 36.4998 22.8482 36.4998 23.5185V24.6973C33.9952 25.3813 32.3831 27.8131 32.728 30.3865C33.0729 32.9599 35.2688 34.8808 37.8654 34.8802C39.3672 34.8802 40.5923 36.0828 40.6196 37.5841C40.6474 39.0853 39.4668 40.3323 37.9661 40.3868Z' fill='#E3E3E3')
								path(d='M20.2637 33.7597C20.2637 43.4809 28.144 51.3612 37.8651 51.3612C47.5863 51.3612 55.4666 43.4809 55.4666 33.7597C55.4666 24.0385 47.5863 16.1582 37.8651 16.1582C28.1487 16.1689 20.2749 24.0433 20.2637 33.7597ZM37.8651 18.5858C46.2457 18.5858 53.039 25.3792 53.039 33.7597C53.039 42.1402 46.2457 48.9335 37.8651 48.9335C29.4846 48.9335 22.6913 42.1402 22.6913 33.7597C22.7008 25.3833 29.4888 18.5953 37.8651 18.5858Z' fill='#E3E3E3')
								path(d='M61.4505 54.3537L51.9421 58.8463C50.6293 56.4044 48.111 54.8504 45.3396 54.7722L36.562 54.531C35.1722 54.4912 33.8084 54.1392 32.5727 53.5009L31.6795 53.038C27.1064 50.6542 21.6555 50.6601 17.0871 53.0534L17.1428 51.03C17.1611 50.3597 16.6331 49.8013 15.9627 49.783L6.33758 49.518C5.66725 49.4997 5.10954 50.0278 5.09116 50.6981L4.50974 71.8201C4.49137 72.4904 5.01945 73.0487 5.68977 73.0671L15.3149 73.332H15.3481C16.006 73.332 16.5442 72.8087 16.5619 72.1514L16.5898 71.1409L19.0903 69.802C20.0718 69.2739 21.2192 69.1483 22.2914 69.4517L37.2234 73.6426C37.2495 73.6503 37.2756 73.6562 37.3023 73.6622C38.3815 73.888 39.4816 74.0012 40.584 74.0006C42.9191 74.0018 45.227 73.4986 47.3494 72.5242C47.4016 72.5005 47.452 72.4726 47.5 72.4412L69.1501 58.4373C69.6894 58.0882 69.8636 57.38 69.5478 56.8205C67.9404 53.9685 64.3754 52.8821 61.4505 54.3537ZM6.96997 70.6738L7.48442 51.9783L14.6825 52.1762L14.1681 70.8724L6.96997 70.6738ZM46.2559 70.3562C43.6191 71.5463 40.674 71.8746 37.8398 71.2956L22.9481 67.1154C21.272 66.6418 19.4779 66.838 17.9447 67.6624L16.6668 68.347L17.0088 55.9166C21.058 53.2235 26.2511 52.9467 30.5635 55.1936L31.4566 55.6565C33.0178 56.4625 34.7395 56.907 36.4956 56.958L45.2738 57.1992C47.7394 57.2703 49.8334 59.0259 50.3336 61.4416L37.2584 61.0807C36.5881 61.0623 36.0304 61.591 36.0114 62.2607C35.993 62.931 36.5217 63.4894 37.1914 63.5077L51.6209 63.9048H51.6547C52.312 63.9042 52.8495 63.3809 52.8673 62.7242C52.8821 62.1967 52.843 61.6686 52.7499 61.1494L62.5025 56.5413C62.512 56.5372 62.5215 56.5324 62.531 56.5277C63.9143 55.8277 65.5869 56.0619 66.7248 57.115L46.2559 70.3562Z' fill='#E3E3E3')
								path(d='M39.079 12.745V1.21381C39.079 0.54349 38.5355 0 37.8652 0C37.1949 0 36.6514 0.54349 36.6514 1.21381V12.745C36.6514 13.4154 37.1949 13.9589 37.8652 13.9589C38.5355 13.9589 39.079 13.4154 39.079 12.745Z' fill='#E3E3E3')
								path(d='M48.1825 12.7443V7.28217C48.1825 6.61185 47.639 6.06836 46.9687 6.06836C46.2984 6.06836 45.7549 6.61185 45.7549 7.28217V12.7443C45.7549 13.4147 46.2984 13.9582 46.9687 13.9582C47.639 13.9582 48.1825 13.4147 48.1825 12.7443Z' fill='#E3E3E3')
								path(d='M29.9755 12.7443V7.28217C29.9755 6.61185 29.432 6.06836 28.7617 6.06836C28.0913 6.06836 27.5479 6.61185 27.5479 7.28217V12.7443C27.5479 13.4147 28.0913 13.9582 28.7617 13.9582C29.432 13.9582 29.9755 13.4147 29.9755 12.7443Z' fill='#E3E3E3')
						p.line_text.heading_4 Company has full market fit that is proved revenue with min. 100M USD per year.
					.line 
						p.line-icon 
							svg(width='65' height='65' viewbox='0 0 65 65' fill='none' xmlns='http://www.w3.org/2000/svg')
								g(clip-path='url(#clip0)')
									path(d='M19.4736 22.8887H44.2751C44.801 22.8887 45.2272 22.4624 45.2272 21.9365C45.2272 21.4107 44.801 20.9844 44.2751 20.9844H19.4736C18.9477 20.9844 18.5215 21.4107 18.5215 21.9365C18.5215 22.4624 18.9478 22.8887 19.4736 22.8887Z' fill='#E3E3E3')
									path(d='M19.474 28.4902H28.3107C28.8367 28.4902 29.2628 28.0639 29.2628 27.5381C29.2628 27.0122 28.8367 26.5859 28.3107 26.5859H19.4741C18.9482 26.5859 18.522 27.0122 18.522 27.5381C18.522 28.0639 18.9482 28.4902 19.474 28.4902Z' fill='#E3E3E3')
									path(d='M19.4736 45.2969H33.6424C34.1683 45.2969 34.5945 44.8706 34.5945 44.3447C34.5945 43.8189 34.1683 43.3926 33.6424 43.3926H19.4736C18.9477 43.3926 18.5215 43.8189 18.5215 44.3447C18.5215 44.8706 18.9478 45.2969 19.4736 45.2969Z' fill='#E3E3E3')
									path(d='M24.2515 15.6523H39.4983C40.0242 15.6523 40.4504 15.226 40.4504 14.7002C40.4504 14.1744 40.0242 13.748 39.4983 13.748H24.2515C23.7255 13.748 23.2993 14.1744 23.2993 14.7002C23.2993 15.226 23.7256 15.6523 24.2515 15.6523Z' fill='#E3E3E3')
									path(d='M59.6952 42.745L58.0795 44.3607V44.1284C58.0795 43.2533 57.3677 42.5415 56.4926 42.5415H54.6123V40.6016H56.4926C57.3677 40.6016 58.0795 39.8898 58.0795 39.0147V37.4512C58.0795 36.9253 57.6533 36.499 57.1274 36.499C56.6014 36.499 56.1752 36.9253 56.1752 37.4512V38.6973H44.0599V26.5821H56.1752V28.4013L50.9468 33.6299L47.5225 30.2056C47.1505 29.8337 46.5477 29.8337 46.1759 30.2056C45.804 30.5774 45.804 31.1803 46.1759 31.552L50.2734 35.6497C50.4594 35.8357 50.703 35.9286 50.9468 35.9286C51.1904 35.9286 51.4341 35.8357 51.6201 35.6497L56.1753 31.0946V33.0078C56.1753 33.5337 56.6015 33.96 57.1275 33.96C57.6535 33.96 58.0796 33.5337 58.0796 33.0078V29.1902L61.042 26.2279C61.4138 25.856 61.4138 25.2531 61.042 24.8814C60.67 24.5096 60.0672 24.5096 59.6954 24.8814L58.0796 26.4971V26.2648C58.0796 25.3897 57.3678 24.6779 56.4927 24.6779H54.6124V6.7906C54.6124 6.05554 54.0145 5.45759 53.2794 5.45759H49.1548V1.33301C49.1548 0.597949 48.5569 0 47.8218 0H5.01221C4.27715 0 3.6792 0.597949 3.6792 1.33301V58.2094C3.6792 58.9445 4.27715 59.5424 5.01221 59.5424H9.13679V63.667C9.13679 64.4021 9.73474 65 10.4698 65H53.2793C54.0143 65 54.6123 64.4021 54.6123 63.667V58.4653H56.4926C57.3677 58.4653 58.0795 57.7535 58.0795 56.8784V47.0538L61.0418 44.0915C61.4137 43.7196 61.4137 43.1167 61.0418 42.745C60.67 42.3733 60.0671 42.3731 59.6952 42.745ZM56.1752 46.265L50.9466 51.4935L47.5223 48.0691C47.1504 47.6973 46.5476 47.6973 46.1757 48.0691C45.8039 48.441 45.8039 49.0439 46.1757 49.4156L50.2734 53.5133C50.4594 53.6993 50.703 53.7922 50.9468 53.7922C51.1904 53.7922 51.4341 53.6993 51.6201 53.5133L56.1753 48.9582V56.5612H52.3047C51.7787 56.5612 51.3525 56.9875 51.3525 57.5133C51.3525 58.0392 51.7787 58.4655 52.3047 58.4655H52.7081V63.0957H11.0412V7.36188H19.8047C20.3306 7.36188 20.7568 6.93558 20.7568 6.40974C20.7568 5.8839 20.3306 5.45759 19.8047 5.45759H10.4699C9.73486 5.45759 9.13691 6.05554 9.13691 6.7906V57.638H5.5835V1.9043H47.2504V5.45759H24.248C23.722 5.45759 23.2959 5.8839 23.2959 6.40974C23.2959 6.93558 23.722 7.36188 24.248 7.36188H52.7081V24.6778H43.7427C42.8676 24.6778 42.1558 25.3896 42.1558 26.2647V26.5864H31.8652C31.3392 26.5864 30.9131 27.0127 30.9131 27.5385C30.9131 28.0644 31.3392 28.4907 31.8652 28.4907H42.1558V32.1882H19.4738C18.9479 32.1882 18.5217 32.6145 18.5217 33.1404C18.5217 33.6662 18.9479 34.0925 19.4738 34.0925H42.1556V37.79H19.4738C18.9479 37.79 18.5217 38.2163 18.5217 38.7422C18.5217 39.268 18.9479 39.6943 19.4738 39.6943H42.3108C42.566 40.2297 43.111 40.6015 43.7426 40.6015H52.708V42.5414H43.7426C43.1333 42.5414 42.6039 42.8869 42.3381 43.3919H37.1972C36.6713 43.3919 36.2451 43.8183 36.2451 44.3441C36.2451 44.8699 36.6713 45.2962 37.1972 45.2962H42.1558V48.9938H19.4738C18.9479 48.9938 18.5217 49.4201 18.5217 49.9459C18.5217 50.4717 18.9479 50.898 19.4738 50.898H42.1556V54.5957H19.4738C18.9479 54.5957 18.5217 55.022 18.5217 55.5478C18.5217 56.0737 18.9479 56.5 19.4738 56.5H42.1556V56.8782C42.1556 57.7533 42.8675 58.4651 43.7426 58.4651H47.8613C48.3873 58.4651 48.8134 58.0388 48.8134 57.5129C48.8134 56.9871 48.3873 56.5608 47.8613 56.5608H44.0601V44.4455H56.1753V46.265H56.1752Z' fill='#E3E3E3')
								defs
									clippath#clip0
										rect(width='65' height='65' fill='white')
						p.line_text.heading_4 Evaluation of companies' technology stack and published patents
					.line 
						p.line-icon
							svg(width='64' height='64' viewbox='0 0 64 64' fill='none' xmlns='http://www.w3.org/2000/svg')
								path(d='M61.7347 32.0001C61.7347 48.4221 48.4221 61.7347 32.0001 61.7347C15.5782 61.7347 2.26562 48.4221 2.26562 32.0001C2.26562 15.5782 15.5782 2.26562 32.0001 2.26562C41.0992 2.26562 49.2437 6.35267 54.698 12.7911' stroke='#E3E3E3' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round')
								path(d='M20.9556 28.8845L31.4334 39.3623L46.7255 24.0703' stroke='#E3E3E3' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round')
						p.line_text.heading_4 Complete financial due diligence by our investment team
	.future-section
		.container 
			h2.h2.h2-line-15 
				| Understanding the future market
			.wrap-60
				.left-60
					p.heading_2 IDALP Lab
					p.normal_text
						| We are leveraging Big Data and Machine Learning to give IDALP an edge. Our Lab team is transforming the digital way of thinking within the Private Equity industry. The core purpose of Lab is to help IDALP’s deal teams predict what the subsequent success of a late-stage company will be. 
					p.normal_text 
						| Lab platform aims to transform traditional deal sourcing with a big data/AI approach. Our algorithms analyze hundreds of data sources to find the best-in-class deals opportunities that bring top returns to Limited Partners.		
				.arrow-wrap 
					svg(width='84' height='85' viewbox='0 0 84 85' fill='none' xmlns='http://www.w3.org/2000/svg')
						path(d='M3.99959 6.84225L3.99959 81L79.084 81' stroke='#F06E00' stroke-width='8')
						path(d='M4 81L81 3.00051' stroke='#F06E00' stroke-width='8')
section.gray-section.section.how-it-section
	.container 
		h2.h2.dark
			| How it works
		.how-it-work-block
			.left
				p.normal_text_2 
					| IDALP Capital aggregates individual demand through Luxembourg-based fund structure which owns shares directly of target investment company.
				.diagram-wrap 
					svg(width='524' height='303' viewbox='0 0 524 303' fill='none' xmlns='http://www.w3.org/2000/svg')
						path(d='M0 138.484C0 138.484 39.8057 121.094 49.2442 116.965C72.6863 106.711 262.173 39.5664 262.173 39.5664L315.579 59.697L311.071 62.1266L315.579 64.5561L275.005 81.563L301.014 93.3637L258.705 112.453L331.185 144.037L366.557 141.955L439.036 173.192L386.5 196L453.602 224.56V239.831L488.281 257.185L384.937 303L0 138.484Z' fill='white')
						path(d='M348.084 143.092L239.448 188.42L329.978 229.304L439.261 182.198L348.084 143.092Z' stroke='#FBD0AC' stroke-width='2')
						path(d='M348.084 138.65L239.448 183.979L329.978 224.863L439.261 177.757L348.084 138.65Z' stroke='#FAB378' stroke-width='2')
						path(d='M89.2667 158.812L29.1299 135.84L261.351 43.6713L315.802 64.4193L89.2667 158.812Z' stroke='#FAB378' stroke-width='2')
						path(d='M89.2667 154.362L29.1299 131.391L261.351 39.222L315.802 59.97L89.2667 154.362Z' stroke='#F06E00' stroke-width='2')
						path(d='M192.593 59.9017V53.5996L227.443 68.0943L262.294 53.5996V59.2715L227.443 73.7662L192.593 59.9017Z' fill='#F5F3F3')
						path(d='M227.445 39.1094L192.595 53.6034L227.445 68.0974L262.296 53.6034L227.445 39.1094Z' fill='#E3E3E3')
						path(d='M227.443 73.7662V68.0943L262.294 53.5996V59.2715L227.443 73.7662Z' fill='#C4C4C4')
						path(d='M192.593 52.7903V46.4883L227.443 60.983L262.294 46.4883V52.1601L227.443 66.6549L192.593 52.7903Z' fill='#F5F3F3')
						path(d='M227.445 31.9922L192.595 46.4862L227.445 60.9802L262.296 46.4862L227.445 31.9922Z' fill='#E3E3E3')
						path(d='M227.443 66.6549V60.983L262.294 46.4883V52.1601L227.443 66.6549Z' fill='#C4C4C4')
						path(d='M192.593 45.681V39.3789L227.443 53.8736L262.294 39.3789V45.0508L227.443 59.5455L192.593 45.681Z' fill='#F5F3F3')
						path(d='M227.445 24.8848L192.595 39.3788L227.445 53.8728L262.296 39.3788L227.445 24.8848Z' fill='#E3E3E3')
						path(d='M227.443 59.5455V53.8736L262.294 39.3789V45.0508L227.443 59.5455Z' fill='#C4C4C4')
						path(d='M192.593 38.5716V32.2695L227.443 46.7643L262.294 32.2695V37.9414L227.443 52.4361L192.593 38.5716Z' fill='#F5F3F3')
						path(d='M227.445 17.7754L192.595 32.2694L227.445 46.7634L262.296 32.2694L227.445 17.7754Z' fill='#E3E3E3')
						path(d='M227.443 52.4361V46.7643L262.294 32.2695V37.9414L227.443 52.4361Z' fill='#C4C4C4')
						path(d='M189.01 31.8121V24.8633L227.44 40.8456L265.869 24.8633V31.1172L227.44 47.0996L189.01 31.8121Z' fill='#FBD0AC')
						path(d='M227.441 8.88477L189.011 24.8671L227.441 40.8494L265.87 24.8671L227.441 8.88477Z' fill='#F06E00')
						path(d='M227.439 47.0996V40.8456L265.869 24.8633V31.1172L227.439 47.0996Z' fill='#FAB378')
						path(d='M192.593 20.7942V14.4922L227.443 28.9869L262.294 14.4922V20.164L227.443 34.6588L192.593 20.7942Z' fill='#F5F3F3')
						path(d='M227.445 0L192.595 14.494L227.445 28.9881L262.296 14.494L227.445 0Z' fill='#E3E3E3')
						path(d='M227.443 34.6588V28.9869L262.294 14.4922V20.164L227.443 34.6588Z' fill='#C4C4C4')
						path(d='M49.0371 116.79V110.488L83.8878 124.983L118.738 110.488V116.16L83.8878 130.655L49.0371 116.79Z' fill='#F5F3F3')
						path(d='M83.8892 95.9883L49.0386 110.482L83.8892 124.976L118.74 110.482L83.8892 95.9883Z' fill='#E3E3E3')
						path(d='M83.8882 130.653V124.981L118.739 110.486V116.158L83.8882 130.653Z' fill='#C4C4C4')
						path(d='M49.0371 109.673V103.371L83.8878 117.866L118.738 103.371V109.043L83.8878 123.538L49.0371 109.673Z' fill='#F5F3F3')
						path(d='M83.8907 88.875L49.04 103.369L83.8907 117.863L118.741 103.369L83.8907 88.875Z' fill='#E3E3E3')
						path(d='M83.8882 123.536V117.864L118.739 103.369V109.041L83.8882 123.536Z' fill='#C4C4C4')
						path(d='M49.0371 102.562V96.2598L83.8878 110.754L118.738 96.2598V101.932L83.8878 116.426L49.0371 102.562Z' fill='#F5F3F3')
						path(d='M83.8907 81.7656L49.04 96.2597L83.8907 110.754L118.741 96.2597L83.8907 81.7656Z' fill='#E3E3E3')
						path(d='M83.8882 116.426V110.754L118.739 96.2598V101.932L83.8882 116.426Z' fill='#C4C4C4')
						path(d='M49.0371 95.4544V89.1523L83.8878 103.647L118.738 89.1523V94.8242L83.8878 109.319L49.0371 95.4544Z' fill='#F5F3F3')
						path(d='M83.8902 74.6543L49.0396 89.1483L83.8902 103.642L118.741 89.1483L83.8902 74.6543Z' fill='#E3E3E3')
						path(d='M83.8882 109.319V103.647L118.739 89.1523V94.8242L83.8882 109.319Z' fill='#C4C4C4')
						path(d='M45.4551 88.6949V81.7461L83.8844 97.7284L122.314 81.7461V88.0001L83.8844 103.982L45.4551 88.6949Z' fill='#FBD0AC')
						path(d='M83.8873 65.7656L45.458 81.748L83.8873 97.7303L122.317 81.748L83.8873 65.7656Z' fill='#F06E00')
						path(d='M83.8838 103.982V97.7284L122.313 81.7461V88.0001L83.8838 103.982Z' fill='#FAB378')
						path(d='M49.0371 77.6771V71.375L83.8878 85.8697L118.738 71.375V77.0469L83.8878 91.5416L49.0371 77.6771Z' fill='#F5F3F3')
						path(d='M83.8897 56.8809L49.0391 71.3749L83.8897 85.8689L118.74 71.3749L83.8897 56.8809Z' fill='#E3E3E3')
						path(d='M83.8882 91.5396V85.8678L118.739 71.373V77.0449L83.8882 91.5396Z' fill='#C4C4C4')
						path(d='M121.462 87.4485V81.1465L156.313 95.6412L191.164 81.1465V86.8183L156.313 101.313L121.462 87.4485Z' fill='#F5F3F3')
						path(d='M156.316 66.6582L121.465 81.1522L156.316 95.6463L191.166 81.1522L156.316 66.6582Z' fill='#E3E3E3')
						path(d='M156.313 101.313V95.6412L191.164 81.1465V86.8183L156.313 101.313Z' fill='#C4C4C4')
						path(d='M121.462 80.3431V74.041L156.313 88.5357L191.163 74.041V79.7129L156.313 94.2076L121.462 80.3431Z' fill='#F5F3F3')
						path(d='M156.316 59.5469L121.465 74.0409L156.316 88.5349L191.166 74.0409L156.316 59.5469Z' fill='#E3E3E3')
						path(d='M156.313 94.2076V88.5357L191.164 74.041V79.7129L156.313 94.2076Z' fill='#C4C4C4')
						path(d='M121.462 73.2376V66.9355L156.313 81.4303L191.163 66.9355V72.6074L156.313 87.1021L121.462 73.2376Z' fill='#F5F3F3')
						path(d='M156.315 52.4395L121.464 66.9335L156.315 81.4275L191.165 66.9335L156.315 52.4395Z' fill='#E3E3E3')
						path(d='M156.313 87.1002V81.4283L191.164 66.9336V72.6054L156.313 87.1002Z' fill='#C4C4C4')
						path(d='M121.462 66.1224V59.8203L156.313 74.315L191.163 59.8203V65.4922L156.313 79.9869L121.462 66.1224Z' fill='#F5F3F3')
						path(d='M156.316 45.3262L121.465 59.8202L156.316 74.3142L191.166 59.8202L156.316 45.3262Z' fill='#E3E3E3')
						path(d='M156.313 79.9869V74.315L191.164 59.8203V65.4922L156.313 79.9869Z' fill='#C4C4C4')
						path( d='M117.88 59.3727V52.4238L156.309 68.4062L194.738 52.4238V58.6778L156.309 74.6601L117.88 59.3727Z' fill='#FBD0AC')
						path( d='M156.311 36.4375L117.882 52.4198L156.311 68.4022L194.74 52.4198L156.311 36.4375Z' fill='#F06E00')
						path( d='M156.309 74.6601V68.4062L194.738 52.4238V58.6778L156.309 74.6601Z' fill='#FAB378')
						path(d='M121.462 48.347V42.0449L156.313 56.5397L191.163 42.0449V47.7168L156.313 62.2115L121.462 48.347Z' fill='#F5F3F3')
						path(d='M156.315 27.5527L121.464 42.0468L156.315 56.5408L191.165 42.0468L156.315 27.5527Z' fill='#E3E3E3')
						path( d='M156.313 62.2115V56.5397L191.164 42.0449V47.7168L156.313 62.2115Z' fill='#C4C4C4')
						path( class="opacity1" d='M475.472 234.635L386 195.998' stroke='#F06E00' stroke-width='3')
						path( class="opacity1" d='M298.5 155.002L199 109.001' stroke='#F06E00' stroke-width='3')
						path(d='M451.546 241.712V217.135L488.231 231.419V256.836L451.546 241.712Z' fill='#FAB378')
						path(d='M488.232 256.839V231.632L524 218.398V242.345L488.232 256.839Z' fill='#FD9F50')
						path(d='M524 218.399L488.232 202.645L451.547 217.139L488.232 231.633L524 218.399Z' fill='#F06E00')
						path(d='M328.038 142.208L258.2 112.878L301.525 93.7694L270.486 79.5488' stroke='#F06E00' stroke-width='2')
						path(d='M274.366 169.312L201.296 135.982L156.678 155.536L130.5 142' stroke='#FAB378' stroke-width='2')
						path(d='M348.084 134.209L239.448 179.537L329.978 220.421L439.261 173.316L348.084 134.209Z' stroke='#F06E00' stroke-width='2')
						path(d='M300.362 173.632V167.33L335.213 181.825L370.064 167.33V173.002L335.213 187.497L300.362 173.632Z' fill='#FAB378')
						path(d='M335.214 152.836L300.364 167.33L335.214 181.824L370.065 167.33L335.214 152.836Z' fill='#F06E00')
						path(d='M335.213 187.497V181.825L370.064 167.33V173.002L335.213 187.497Z' fill='#FD9F50')
						path(d='M300.362 158.503V152.201L335.213 166.696L370.064 152.201V157.873L335.213 172.368L300.362 158.503Z' fill='#FAB378')
						path(d='M335.216 137.713L300.365 152.207L335.216 166.701L370.067 152.207L335.216 137.713Z' fill='#F06E00')
						path(d='M335.213 172.368V166.696L370.064 152.201V157.873L335.213 172.368Z' fill='#FD9F50')
						path(class="levit-up" d='M300.362 142.126V135.824L335.213 150.319L370.064 135.824V141.496L335.213 155.991L300.362 142.126Z' fill='#FAB378')
						path(class="levit-up" d='M335.216 121.326L300.365 135.82L335.216 150.314L370.067 135.82L335.216 121.326Z' fill='#F06E00')
						path(class="levit-up" d='M335.213 155.991V150.319L370.064 135.824V141.496L335.213 155.991Z' fill='#FD9F50')

			.lines-block-row 
				.line
					p.heading_3 IDALP Capital Fund
				.line
					p.normal_text_2 Standardized fund setup allows for seamless execution
				.line 
					p.normal_text_2 Luxembourg structures ensure transparency and global acceptance
				.line 
					p.normal_text_2 Tax transparent
				.line 
					p.normal_text_2 Full privacy protection 
				.line 
					p.normal_text_2 Proven model across all major fund jurisdictions
				.line 
					p.heading_3 IDALP Capital Limited Partners
				.line 
					p.normal_text_2 Aggregation of multiple investments from 250 000 USD per Limited Partner
				.line 
					p.normal_text_2 End-to-end digital subscription via embedded data room ensures highly scalable model
				.line 
					p.normal_text_2 Fully digital reporting, capital call and distribution management
section.gray-section.section.horizon-section
	.container 
		h2.h2.dark.h2-line-15
			| Investment horizon
		.block-40x60
			.left
				p.normal_text_2
					| You can invest in private equity secondary opportunities knowing that you can sell your position after one year. IDALP will publish your holding to the wide circle of Limited Partners, including individuals and institutions, to make all possible steps to meet 
					| the demand and provide you with liquidity. 
			.right 
		.text-50
			.left-padding 
			.right-part
				.slider-top
					p.normal_text Year 1
					p.normal_text.name-2 Year 2-10
				.slider-sowrap
					.slid-names
						.name.normal_text
						.name.normal_text IDALP Capital model
						.name.normal_text Private Equty Model
					.wrap-svg
						svg(width='596' height='121' viewbox='0 0 596 121' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M12 13V3.47765C12 2.10928 13.1093 1 14.4776 1H96.5224C97.8907 1 99 2.10928 99 3.47765V13' stroke='#ADADAD' stroke-width='0.8' stroke-dasharray='3.3 3.3')
							path(d='M104 13V3.47765C104 2.10928 105.109 1 106.478 1H581.522C582.891 1 584 2.10928 584 3.47765V13' stroke='#ADADAD' stroke-width='0.8' stroke-dasharray='3.3 3.3')
							line(x1='23' y1='48.25' x2='91' y2='48.25' stroke='#F06E00' stroke-width='1.5')
							line(x1='114' y1='48.25' x2='573' y2='48.25' stroke='#F06E00' stroke-width='1.5')
							circle(cx='11.5' cy='48.5' r='11.0871' stroke='#F06E00' stroke-width='0.825882')
							circle(cx='102.5' cy='48.5' r='11.0871' stroke='#F06E00' stroke-width='0.825882')
							circle(cx='584.5' cy='48.5' r='11.0871' stroke='#F06E00' stroke-width='0.825882')
							ellipse(cx='12' cy='48.5' rx='6' ry='5.5' fill='#F06E00')
							ellipse(cx='103' cy='48.5' rx='6' ry='5.5' fill='#F06E00')
							ellipse(cx='585' cy='48.5' rx='6' ry='5.5' fill='#F06E00')
							path(d='M57 31V37' stroke='#151515' stroke-width='1.23882' stroke-linecap='round')
							path(d='M53 28V24.4776C53 23.1093 54.1093 22 55.4776 22H58.5224C59.8907 22 61 23.1093 61 24.4776V28' stroke='#151515' stroke-width='0.825882')
							rect(x='50.5871' y='27.5871' width='12.8259' height='11.8259' rx='1.23882' stroke='#151515' stroke-width='0.825882')
							path(d='M294 89V85.4776C294 84.1093 295.109 83 296.478 83H299.522C300.891 83 302 84.1093 302 85.4776V89' stroke='#151515' stroke-width='0.825882')
							line(x1='23' y1='109.25' x2='573' y2='109.25' stroke='#151515' stroke-width='1.5')
							circle(cx='11.5' cy='109.5' r='11.0871' stroke='#151515' stroke-width='0.825882')
							circle(cx='584.5' cy='109.5' r='11.0871' stroke='#151515' stroke-width='0.825882')
							ellipse(cx='12' cy='109.5' rx='6' ry='5.5' fill='#151515')
							ellipse(cx='585' cy='109.5' rx='6' ry='5.5' fill='#151515')
							path(d='M298 92V98' stroke='#151515' stroke-width='1.23882' stroke-linecap='round')
							rect(x='291.587' y='88.5871' width='12.8259' height='11.8259' rx='1.23882' stroke='#151515' stroke-width='0.825882')
				.wrp-a
					a.btn(href="./liquidity-solutions.html")
						| Learn more
						svg(width='9' height='9' viewbox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg')
							path( class="arrow-btn" d='M8.6 1C8.6 0.668629 8.33137 0.4 8 0.4L2.6 0.4C2.26863 0.4 2 0.668629 2 1C2 1.33137 2.26863 1.6 2.6 1.6L7.4 1.6L7.4 6.4C7.4 6.73137 7.66863 7 8 7C8.33137 7 8.6 6.73137 8.6 6.4L8.6 1ZM1.42426 8.42426L8.42426 1.42426L7.57574 0.575736L0.575736 7.57574L1.42426 8.42426Z' fill='')

section.gray-section.section.question-section
	.container 
		h2.h2.dark.h2-line-15
			| Frequently Asked Questions
		.text-50
			.left-padding
				h4.h4 
					| Questions  
					<br>
					| and Answers:
			.wrp.right-part.right-part-60
				.b-faq
					.faq__item
						a.faq__title.js-faq-title(href='#')
							.faq__spoiler.js-faq-rotate
								span.faq__symbol
									svg(width='20' height='20' viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
										line(x1='10.1401' y1='2.54983e-08' x2='10.1401' y2='20' stroke='#F06E00')
										line(x1='20' y1='9.09961' x2='-3.93403e-08' y2='9.09961' stroke='#F06E00')
							span.normal_text_2 Who can invest? 
						.faq__content.js-faq-content.normal_text_2
							| Investors qualify to invest with IDALP if they meet certain criteria as per local regulation which may include a minimum financial instrument portfolio and sufficient prior investment experience. Due to the nature of funds we offer, IDALP investments are available exclusively for (1) professional and semi-professional investors pursuant to Section 1 para. 19 no. 32 & 33 of KAGB, (2) certified high net worth investors and self-certified sophisticated investors pursuant to COBS 4.12.6 R COBS 4.12.8 R, and (3) qualified investors pursuant to Art. 10 para. 3 CISA and Art. 6 CISO, (4) professional investors within meaning of the Luxembourg Law of 12 July 2013 on alternative investment fund managers, (5) professional investors pursuant to D.533-11 and D.533-12 CMF, (6) professional clients within the meaning of Directive 2014/65/EU on markets in financial instrument (MiFID II) and (7) professional investors within the meaning of Part 1 of Schedule 1 to the Securities and Futures Ordinance (Cap. 571D) and the Securities and Futures (Professional Investor) Rules.
				.b-faq
					.faq__item
						a.faq__title.js-faq-title(href='#')
							.faq__spoiler.js-faq-rotate
								span.faq__symbol
									svg(width='20' height='20' viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
										line(x1='10.1401' y1='2.54983e-08' x2='10.1401' y2='20' stroke='#F06E00')
										line(x1='20' y1='9.09961' x2='-3.93403e-08' y2='9.09961' stroke='#F06E00')
							span.normal_text_2 How does typical IDALP investment work? 
						.faq__content.js-faq-content
							| IDALP investment vehicles pool interest in target investment companies. Capital calls, capital distributions, and fees are all paid through the IDALP investment vehicles. We work with industry-leading legal and fund administrator providers to facilitate the investment process.
	
				.b-faq
					.faq__item
						a.faq__title.js-faq-title(href='#')
							.faq__spoiler.js-faq-rotate
								span.faq__symbol
									svg(width='20' height='20' viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
										line(x1='10.1401' y1='2.54983e-08' x2='10.1401' y2='20' stroke='#F06E00')
										line(x1='20' y1='9.09961' x2='-3.93403e-08' y2='9.09961' stroke='#F06E00')
							span.normal_text_2 What is the minimum commitment amount?
						.faq__content.js-faq-content
							| The minimum commitment amount to IDALP funds starts at $250,000. We leverage technology to provide lower minimums than traditionally available, while respecting minimums required by local regulation for private equity investments.
					
				.b-faq
					.faq__item
						a.faq__title.js-faq-title(href='#')
							.faq__spoiler.js-faq-rotate
								span.faq__symbol
									svg(width='20' height='20' viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
										line(x1='10.1401' y1='2.54983e-08' x2='10.1401' y2='20' stroke='#F06E00')
										line(x1='20' y1='9.09961' x2='-3.93403e-08' y2='9.09961' stroke='#F06E00')
							span.normal_text_2 	When is capital drawn on my commitment?
						.faq__content.js-faq-content
							| The schedule of capital calls varies deal from deal. In general, we structure our investments with a 100% upfront capital call after Limited Partner signs Subscription Agreement

				.b-faq
					.faq__item
						a.faq__title.js-faq-title(href='#')
							.faq__spoiler.js-faq-rotate
								span.faq__symbol
									svg(width='20' height='20' viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
										line(x1='10.1401' y1='2.54983e-08' x2='10.1401' y2='20' stroke='#F06E00')
										line(x1='20' y1='9.09961' x2='-3.93403e-08' y2='9.09961' stroke='#F06E00')
							span.normal_text_2 What am I purchasing when I invest?
						.faq__content.js-faq-content
							| When you make a typical investment on IDALP, you are purchasing ownership in an IDALP fund that owns the shares of one company (single-company funds) or many companies (multi-company funds). You will not own the stock in the company directly.
							| Investors join this fund (organized as an SCSp) as Limited Partners. This fund will purchase and own a specific company's shares. Shares owned by the fund will be fully vested stock and not options.
							| IDALP will act as the Managing Member of this SCSp fund, and the fund will be a single new entrant on the company's cap table.

				.b-faq
					.faq__item
						a.faq__title.js-faq-title(href='#')
							.faq__spoiler.js-faq-rotate
								span.faq__symbol
									svg(width='20' height='20' viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
										line(x1='10.1401' y1='2.54983e-08' x2='10.1401' y2='20' stroke='#F06E00')
										line(x1='20' y1='9.09961' x2='-3.93403e-08' y2='9.09961' stroke='#F06E00')
							span.normal_text_2 Why can't I just buy the shares directly from the shareholder?
						.faq__content.js-faq-content
							| Direct share acquisitions are possible on IDALP but typically only for large ($2M+) investment sizes. Secondary investments in private companies require much more legwork than your typical public stock transaction does. For one, every transaction must go through the company when shares change hands (imagine telling IBM or Microsoft every time you bought their shares). And the process requires providing specific language governing the transaction; each company's process is different. Finally, a number of documents must be compiled by the shareholder

				.b-faq
					.faq__item
						a.faq__title.js-faq-title(href='#')
							.faq__spoiler.js-faq-rotate
								span.faq__symbol
									svg(width='20' height='20' viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
										line(x1='10.1401' y1='2.54983e-08' x2='10.1401' y2='20' stroke='#F06E00')
										line(x1='20' y1='9.09961' x2='-3.93403e-08' y2='9.09961' stroke='#F06E00')
							span.normal_text_2 Who are you buying these shares from?
						.faq__content.js-faq-content
							| Our sellers are current and former employees, early investors and advisors of the company. They are typically selling only a portion of their holdings in order to cover costs associated with exercising and paying taxes on the remainder of their shares, for life events such as purchasing a home or preparing for a child, or to diversify their holdings.

				.b-faq
					.faq__item
						a.faq__title.js-faq-title(href='#')
							.faq__spoiler.js-faq-rotate
								span.faq__symbol
									svg(width='20' height='20' viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
										line(x1='10.1401' y1='2.54983e-08' x2='10.1401' y2='20' stroke='#F06E00')
										line(x1='20' y1='9.09961' x2='-3.93403e-08' y2='9.09961' stroke='#F06E00')
							span.normal_text_2 How do you price the shares?
						.faq__content.js-faq-content
							| We use the last financing round of the company as a benchmark for the share price. Other factors that determine the price are publicly available information, investor demand, pricing history from past secondary transactions, etc.
							| Typically, IDALP works with the seller to determine price per share for each investment opportunity.

				.b-faq
					.faq__item
						a.faq__title.js-faq-title(href='#')
							.faq__spoiler.js-faq-rotate
								span.faq__symbol
									svg(width='20' height='20' viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
										line(x1='10.1401' y1='2.54983e-08' x2='10.1401' y2='20' stroke='#F06E00')
										line(x1='20' y1='9.09961' x2='-3.93403e-08' y2='9.09961' stroke='#F06E00')
							span.normal_text_2 Can you provide the company’s financials, exit strategy and prospectus?
						.faq__content.js-faq-content
							| Unfortunately, we typically do not have access to the company's most recent financials, or their investor presentation. We leverage the due diligence performed by the company's most recent investors and base our offerings on the price those investors paid. Any information that is provided regarding an investment opportunity is publicly available or is derived from publicly available information.
				.b-faq
					.faq__item
						a.faq__title.js-faq-title(href='#')
							.faq__spoiler.js-faq-rotate
								span.faq__symbol
									svg(width='20' height='20' viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
										line(x1='10.1401' y1='2.54983e-08' x2='10.1401' y2='20' stroke='#F06E00')
										line(x1='20' y1='9.09961' x2='-3.93403e-08' y2='9.09961' stroke='#F06E00')
							span.normal_text_2 How are you different from other Private Equity funds?

						.faq__content.js-faq-content
							| IDALP is unique in that we account for the company whose shares are being transacted as a key stakeholder in the process. Unlike some firms, we only facilitate company approved deals and acquire shares at the time of the transaction, avoiding the risks that a selling shareholder does not deliver shares in the future under a forward contract or that the company does not recognize the transfer in the future.
							| IDALP takes a technology-driven approach, allowing for secure transactions with audit trails while also reducing costs.
