section.main-section.dark-section.iquid-section
	.container
		.wrap-main_text
			h1.h1 
				span.accent-link Liquidity solution 
				| for our limited partners
		.text-50
			.left-padding
			p.heading_3.right-part 
				| IDALP has the experience and platform to facilitate secondary transactions for our association of investors.
		.wrp-img 
			img(src="../img/liquid-peoples.png", alt="")