section.main-section.dark-section.iquid-section
	.container
		.wrap-main_text
			h1.h1.h2-line-15 
				span.accent-link Liquidity solution 
				| for our limited partners
		.text-50
			.left-padding
			p.heading_3.right-part 
				| IDALP has the experience and platform to facilitate secondary transactions for our association of investors.
	.container.pos-img
		.wrp-img 
			img(src="../idlap/img/liquid-peoples.png", alt="")
section.gray-section.section.section-150-p.earlier-section
	.container 
		h2.h2.dark.h2-line-15
			| Earlier liquidity
		.block-40x60
			.left
				p.heading_2 
					| The supporting cast
				p.normal_text_2
					| IDALP has the experience and platform to facilitate secondary transactions for our association of investors.You can buy the shares of private companies, knowing that you can sell your investment after 1 year. 
					| Our broad network opens up your offer to a wide set of potential buyers. 
			.right 
		.text-50
			.left-padding 
			.right-part
				.slider-top
					p.normal_text Year 1
					p.normal_text.name-2 Year 2-10
				.slider-sowrap
					.slid-names
						.name.normal_text
						.name.normal_text IDALP Capital Model
						.name.normal_text Private Equty Model
					.wrap-svg
						svg(width='596' height='121' viewbox='0 0 596 121' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M12 13V3.47765C12 2.10928 13.1093 1 14.4776 1H96.5224C97.8907 1 99 2.10928 99 3.47765V13' stroke='#ADADAD' stroke-width='0.8' stroke-dasharray='3.3 3.3')
							path(d='M104 13V3.47765C104 2.10928 105.109 1 106.478 1H581.522C582.891 1 584 2.10928 584 3.47765V13' stroke='#ADADAD' stroke-width='0.8' stroke-dasharray='3.3 3.3')
							line(x1='23' y1='48.25' x2='91' y2='48.25' stroke='#F06E00' stroke-width='1.5')
							line(x1='114' y1='48.25' x2='573' y2='48.25' stroke='#F06E00' stroke-width='1.5')
							circle(cx='11.5' cy='48.5' r='11.0871' stroke='#F06E00' stroke-width='0.825882')
							circle(cx='102.5' cy='48.5' r='11.0871' stroke='#F06E00' stroke-width='0.825882')
							circle(cx='584.5' cy='48.5' r='11.0871' stroke='#F06E00' stroke-width='0.825882')
							ellipse(cx='12' cy='48.5' rx='6' ry='5.5' fill='#F06E00')
							ellipse(cx='103' cy='48.5' rx='6' ry='5.5' fill='#F06E00')
							ellipse(cx='585' cy='48.5' rx='6' ry='5.5' fill='#F06E00')
							path(d='M57 31V37' stroke='#151515' stroke-width='1.23882' stroke-linecap='round')
							path(d='M53 28V24.4776C53 23.1093 54.1093 22 55.4776 22H58.5224C59.8907 22 61 23.1093 61 24.4776V28' stroke='#151515' stroke-width='0.825882')
							rect(x='50.5871' y='27.5871' width='12.8259' height='11.8259' rx='1.23882' stroke='#151515' stroke-width='0.825882')
							path(d='M294 89V85.4776C294 84.1093 295.109 83 296.478 83H299.522C300.891 83 302 84.1093 302 85.4776V89' stroke='#151515' stroke-width='0.825882')
							line(x1='23' y1='109.25' x2='573' y2='109.25' stroke='#151515' stroke-width='1.5')
							circle(cx='11.5' cy='109.5' r='11.0871' stroke='#151515' stroke-width='0.825882')
							circle(cx='584.5' cy='109.5' r='11.0871' stroke='#151515' stroke-width='0.825882')
							ellipse(cx='12' cy='109.5' rx='6' ry='5.5' fill='#151515')
							ellipse(cx='585' cy='109.5' rx='6' ry='5.5' fill='#151515')
							path(d='M298 92V98' stroke='#151515' stroke-width='1.23882' stroke-linecap='round')
							rect(x='291.587' y='88.5871' width='12.8259' height='11.8259' rx='1.23882' stroke='#151515' stroke-width='0.825882')
				.wrp-a
					a.btn(href="./contact.html")
						| Learn more
						svg(width='9' height='9' viewbox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg')
							path( class="arrow-btn" d='M8.6 1C8.6 0.668629 8.33137 0.4 8 0.4L2.6 0.4C2.26863 0.4 2 0.668629 2 1C2 1.33137 2.26863 1.6 2.6 1.6L7.4 1.6L7.4 6.4C7.4 6.73137 7.66863 7 8 7C8.33137 7 8.6 6.73137 8.6 6.4L8.6 1ZM1.42426 8.42426L8.42426 1.42426L7.57574 0.575736L0.575736 7.57574L1.42426 8.42426Z' fill='')
section.dark-section.section.advantages-section
	.container 
		h2.h2.h2-line-15 
			| advantages	
		.text-50
			.left-padding
			.wrp.right-part
				p.heading_3 Why IDALP Capital? 
				p.heading_3.mb-15 Our key advantages:
				.advantages 
					.advantages-item 
						p.number 01 
						p.advant-text Digital enrolment process
					.advantages-item 
						p.number 02 
						p.advant-text Insights and expertise for decision making
					.advantages-item 
						p.number 03
						p.advant-text Trust of over 100+ accredited investors
section.white-section.section.section-110-p
	.container 
		h2.h2
			| Process
		//- .half-screen
		.text-50
			.left-padding
				h4.h4 
					| How IDALP facilitate 
					<br>
					| a secondary deal?
			.wrp.right-part.right-part-60
				.lines-block 
					.lines-block.colored-rows.even-gray 
						.line 
							p.line-number 01
							.text-part
								.line_text.normal_text_2
									| Indicate your interest to sell by filling inquiry on the limited partner portal.
								.normal_text 
									| Investors may signal their interest to sell shares after 1 holding year. We schedule a call to clarify further steps.
						.line 
							p.line-number 02
							.text-part
								.line_text.normal_text_2
									| Discussing details on arranged meeting
								.normal_text 
									| Our advisor will reach out to discuss the minimum reserve price for the stake you are looking to sell. The agreements 
									| will be confidentially signed.  
						.line 
							p.line-number 03
							.text-part
								.line_text.normal_text_2
									| IDALP sources a potential buyer
								.normal_text 
									| IDALP works with its network of private and institutional investors 
									| to source a potential buyer. We optimize the matching process to give sellers the best achievable price.  
						.line 
							p.line-number 04
							.text-part
								.line_text.normal_text_2
									| Close the transaction
								.normal_text 
									| All involved parties will be notified about the transaction. Legal, operations and compliance teams will distribute the documents 
									| and work with you to close the transaction. 
section.white-section.section.section-80-p.urgant-section
	.container 
		h2.h2
			| Urgent liquidity
		//- .half-screen
		.text-50
			.left-padding
			.wrp.right-part.right-part-60
				.gray-block
					.heading_2 Learn More About Liquidity
					.normal_text 
						| If you'd love to learn more, we would be happy to explain the process in detail. We can also guide you on the latest market pricing trends for your special stock and give an expected timeframe for a planned transaction.  
					a.btn(href="./contact.html")
						| Talk to us
						svg(width='9' height='9' viewbox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg')
							path( class="arrow-btn" d='M8.6 1C8.6 0.668629 8.33137 0.4 8 0.4L2.6 0.4C2.26863 0.4 2 0.668629 2 1C2 1.33137 2.26863 1.6 2.6 1.6L7.4 1.6L7.4 6.4C7.4 6.73137 7.66863 7 8 7C8.33137 7 8.6 6.73137 8.6 6.4L8.6 1ZM1.42426 8.42426L8.42426 1.42426L7.57574 0.575736L0.575736 7.57574L1.42426 8.42426Z' fill='')
section.gray-section.section.questions-section.section-110-p
	.container 
		h2.h2.dark.h2-line-15
			| General questions 
		.text-50
			.left-padding
				h4.h4 
					| Featured questions
			.wrp.right-part.right-part-60
				.b-faq
					.faq__item
						a.faq__title.js-faq-title(href='#')
							.faq__spoiler.js-faq-rotate
								span.faq__symbol
									svg(width='20' height='20' viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
										line(x1='10.1401' y1='2.54983e-08' x2='10.1401' y2='20' stroke='#F06E00')
										line(x1='20' y1='9.09961' x2='-3.93403e-08' y2='9.09961' stroke='#F06E00')
							span.normal_text_2 Can I sell my investment?
						.faq__content.js-faq-content.normal_text_2
							| Yes. Based on SEC regulations, you must hold your shares for one year before selling. After this period you can request a liquidity option. 
				.b-faq
					.faq__item
						a.faq__title.js-faq-title(href='#')
							.faq__spoiler.js-faq-rotate
								span.faq__symbol
									svg(width='20' height='20' viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
										line(x1='10.1401' y1='2.54983e-08' x2='10.1401' y2='20' stroke='#F06E00')
										line(x1='20' y1='9.09961' x2='-3.93403e-08' y2='9.09961' stroke='#F06E00')
							span.normal_text_2 How long do I need to hold my investment for?
						.faq__content.js-faq-content
							| The private market is highly illiquid and to gain a solid performance you should be prepared to hold your investment for a longer period. The average exit for a startup is five years from inception but it can often be longer.

				.b-faq
					.faq__item
						a.faq__title.js-faq-title(href='#')
							.faq__spoiler.js-faq-rotate
								span.faq__symbol
									svg(width='20' height='20' viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
										line(x1='10.1401' y1='2.54983e-08' x2='10.1401' y2='20' stroke='#F06E00')
										line(x1='20' y1='9.09961' x2='-3.93403e-08' y2='9.09961' stroke='#F06E00')
							span.normal_text_2 Is my identity known to other buyers or sellers?
						.faq__content.js-faq-content
							| The identity becomes disclosed at the transaction execution step, but not during the buyer sourcing process. 							
				.b-faq
					.faq__item
						a.faq__title.js-faq-title(href='#')
							.faq__spoiler.js-faq-rotate
								span.faq__symbol
									svg(width='20' height='20' viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
										line(x1='10.1401' y1='2.54983e-08' x2='10.1401' y2='20' stroke='#F06E00')
										line(x1='20' y1='9.09961' x2='-3.93403e-08' y2='9.09961' stroke='#F06E00')
							span.normal_text_2 	When should I expect to receive funds?
						.faq__content.js-faq-content
							| A transaction becomes legally binding and irreversible once legal agreements have been executed by both buyer and seller. Before signing the agreement, either the buyer or seller can withdraw from the process.

				.b-faq
					.faq__item
						a.faq__title.js-faq-title(href='#')
							.faq__spoiler.js-faq-rotate
								span.faq__symbol
									svg(width='20' height='20' viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
										line(x1='10.1401' y1='2.54983e-08' x2='10.1401' y2='20' stroke='#F06E00')
										line(x1='20' y1='9.09961' x2='-3.93403e-08' y2='9.09961' stroke='#F06E00')
							span.normal_text_2 Are liquidity transactions cancellable?
						.faq__content.js-faq-content
							| A transaction becomes legally binding once the transfer agreement is signed. Up to signing the agreement, either the buyer or seller can withdraw from the process

