section.main-section
	.container
		.wrap-main_text
			h1.h1 Gaining perspective
			p.heading_3.line-on-mobile 
				| IDALP is a late-stage investment fund 
				| and alternative assets manager with the target 
				| on innovation driven fast growing companies.
		.main-banner-text 
			p.normal_text 
				| We enable individual and institutional investors to access largest by revenue privately 
				| owned companies with a structured process and low minimums. With over €50m 
				| in assets under management, IDALP has enabled private investors, family offices and wealth managers exclusive access to direct investments. 
			p.normal_text
				| Join our community to access to the latest investment opportunities and apply diversification potential of late stage private equity in your investment portfolio. 	
			.illustration
				img.illustration-people(src="../idlap/img/peoples.svg", alt="peoples")
		a.btn(target="_blank" href="https://app.idalpcapital.com")
			| Explore funds
			svg(width='9' height='9' viewbox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg')
				path( class="arrow-btn" d='M8.6 1C8.6 0.668629 8.33137 0.4 8 0.4L2.6 0.4C2.26863 0.4 2 0.668629 2 1C2 1.33137 2.26863 1.6 2.6 1.6L7.4 1.6L7.4 6.4C7.4 6.73137 7.66863 7 8 7C8.33137 7 8.6 6.73137 8.6 6.4L8.6 1ZM1.42426 8.42426L8.42426 1.42426L7.57574 0.575736L0.575736 7.57574L1.42426 8.42426Z' fill='')
section.gray-section.section.proven
	.container 
		h2.h2.h2-line-15
			| Proven analysis process
			br 
			| to gain insights for the future
		.text-50
			.left-padding
			p.normal_text.right-part 
				| IDALP conducts detailed due diligence on the companies we invest in. We process sources and selects global winners with focus on assets, that are producing considerable higher reward.
		.proven-process-block.block-40x60
			.left 
				h4.h4 Proven process
				p.normal_text IDALP Capital proprietary process sources and select global winners at inflection points producing high multiples.
				ul.pieces.only-desktop 
					li.pieces-item 
						span.gray 
						p.normal_text Entry Price
					li.pieces-item 
						span.orange 
						p.normal_text Current Valuation
			.right
				.proven-illustration
					table.charts-css.column.show-labels.show-4-secondary-axes.datasets-spacing-4.data-spacing-5.multiple.data-spacing-10#chart-proven
						caption Years Compared
						thead
							tr
								th Year
								th Progress 1
								th Progress 2s
								th Progress 2
						tbody
							tr
								th(scope='row') 
								td.gray-td(style='--size:0')
									span.data   
								td.red-td(style='--size:0')
									span.data
								td.zero-td(style='--size:00;')
									span.data
							tr
								th(scope='row') Lemonade
								td.gray-td(style='--size:0.1;')
									span.data  $2 
								td.red-td(style='--size:0.2;')
									span.data  $5,5
								td.zero-td(style='--size:00;')
									span.data
							tr
								th(scope='row') Unity
								td.gray-td(style='--size:0.3;')
									span.data  $6,1
								td.red-td(style='--size:0.5;')
									span.data  $28,1
								td.zero-td(style='--size:00;')
									span.data
							tr
								th(scope='row') Palantir
								td.gray-td(style='--size:0.3;')
									span.data  $8,5
								td.red-td(style='--size:0.7;')
									span.data  $43,2
								td.zero-td(style='--size:00;')
									span.data
							tr
								th(scope='row') Snowflake
								td.gray-td(style='--size:0.3;')
									span.data  $12,4 
								td.red-td(style='--size:0.8;')
									span.data  $67,1
								td.zero-td(style='--size:00;')
									span.data
							tr
								th(scope='row') Beyond Meat
								td.gray-td(style='--size:0.1;')
									span.data  $1,3 
								td.red-td(style='--size:0.5;')
									span.data  $8,5
								td.zero-td(style='--size:00;')
									span.data
							tr
								th(scope='row') Peloton
								td.gray-td(style='--size:0.25;')
									span.data  $4,2
								td.red-td(style='--size:0.6;')
									span.data  $34,7
								td.zero-td(style='--size:00;')
									span.data
							tr
								th(scope='row') Crowdstrike
								td.gray-td(style='--size:0.1;')
									span.data  $3,2
								td.red-td(style='--size:0.7;')
									span.data  $46,6
								td.zero-td(style='--size:00;')
									span.data
					table.subline-table
						tr 
							td.first Multiple from entry:
							td 3x
							td 5x
							td 5x
							td 5x
							td 7x
							td 8x
							td 15x
				ul.pieces.only-mobile 
					li.pieces-item 
						span.gray 
						p.normal_text Entry Price
					li.pieces-item 
						span.orange 
						p.normal_text Current Valuation
section.gray-section.section.how-it-section
	.container 
		h2.h2.h2-line-30 HOW IT WORKS
		.half-screen
			h4.h4 Exclusive access to investment in private companies
			p.normal_text 
				| Gain access, reduce minimums, diversify your portfolio with late-stage investments.
				| Private market investment opportunities are highly vetted through our company 
				| and sector research.
			a.empty_btn(href="./late-stage-investments.html") 
				| View Late stage investments
				svg(width='9' height='9' viewbox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg')
					path( class="empt-btn" d='M8.6 1C8.6 0.668629 8.33137 0.4 8 0.4L2.6 0.4C2.26863 0.4 2 0.668629 2 1C2 1.33137 2.26863 1.6 2.6 1.6L7.4 1.6L7.4 6.4C7.4 6.73137 7.66863 7 8 7C8.33137 7 8.6 6.73137 8.6 6.4L8.6 1ZM1.42426 8.42426L8.42426 1.42426L7.57574 0.575736L0.575736 7.57574L1.42426 8.42426Z' fill='')
		
		.text-50
			.left-padding
			.wrp.right-part.top-border 
				h4.h4 Liquidity options
				p.normal_text
					| Your exit plans do not need to be adjusted with your investment strategy. 
					| Earlier exit possibilities transacted over IDALP's closed marketplace. 
					| We are connecting accredited investors and institutions to source potential buyers.
				a.empty_btn(href="./liquidity-solutions.html") 
					| Learn about
					svg(width='9' height='9' viewbox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg')
						path( class="empt-btn" d='M8.6 1C8.6 0.668629 8.33137 0.4 8 0.4L2.6 0.4C2.26863 0.4 2 0.668629 2 1C2 1.33137 2.26863 1.6 2.6 1.6L7.4 1.6L7.4 6.4C7.4 6.73137 7.66863 7 8 7C8.33137 7 8.6 6.73137 8.6 6.4L8.6 1ZM1.42426 8.42426L8.42426 1.42426L7.57574 0.575736L0.575736 7.57574L1.42426 8.42426Z' fill='')
section.white-section.section.road-section
	.container 
		h2.h2.h2-line-15 
			| The road to sustainability:
			br 
			| From arbitrage to operational value creation
		p.heading_3 
			| Partnering for mutual success	
		.half-screen
			h4.h4 
				| How the IDALP network works
				<br>
				|for shareholders?
		.text-50
			.left-padding
			.wrp.right-part
				.lines-block 
					.line 
						p.line-number 01
						p.line_text.heading_3 Join community
					.line 
						p.line-number 02
						p.line_text.heading_3 Receive deals
					.line 
						p.line-number 03
						p.line_text.heading_3 Select deal
					.line 
						p.line-number 04
						p.line_text.heading_3 Portfolio allocation
					.line 
						p.line-number 05
						p.line_text.heading_3 Value creation
					.line 
						p.line-number 06
						p.line_text.heading_3 Exit
section.dark-section.section.advantages-section
	.container 
		h2.h2.h2-line-15 
			| advantages	
		.text-50
			.left-padding
			.wrp.right-part
				p.heading_3 Why IDALP Capital? 
				p.heading_3.mb-15 Our key advantages:
				.advantages 
					.advantages-item 
						p.number 01 
						p.advant-text Digital enrolment process
					.advantages-item 
						p.number 02 
						p.advant-text Insights and expertise for decision making
					.advantages-item 
						p.number 03
						p.advant-text Trust of over 100+ accredited investors
section.white-section.section.logos-section
	.container 
		h2.h2 
			| Successful 
			<br>
			| exits
		p.heading_3.right-header 
			| Featured companies
		.partners
			.partners-item.btn-line.right-line 
				img(src="../idlap/img/vroom.svg", alt="")
			.partners-item.btn-line.right-line  
				img(src="../idlap/img/postmates.svg", alt="")
			.partners-item.btn-line  
				img(src="../idlap/img/parnter-3.svg", alt="")
			.partners-item.right-line  
				img(src="../idlap/img/partner-4.svg", alt="")
			.partners-item.right-line   
				img(src="../idlap/img/partner-5.svg", alt="")
			.partners-item 
				img(src="../idlap/img/partner-6.svg", alt="")
		.wrp-a
			a.btn(target="_blank" href="https://app.idalpcapital.com/")
				| View all
				svg(width='9' height='9' viewbox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg')
					path( class="arrow-btn" d='M8.6 1C8.6 0.668629 8.33137 0.4 8 0.4L2.6 0.4C2.26863 0.4 2 0.668629 2 1C2 1.33137 2.26863 1.6 2.6 1.6L7.4 1.6L7.4 6.4C7.4 6.73137 7.66863 7 8 7C8.33137 7 8.6 6.73137 8.6 6.4L8.6 1ZM1.42426 8.42426L8.42426 1.42426L7.57574 0.575736L0.575736 7.57574L1.42426 8.42426Z' fill='')
section.white-section.section.logos-section
	.container 
		h2.h2.h2-line-15
			| Risk warning
		.text-50
			.left-padding
			.wrp.right-part
				p.normal_text 
					| Investing in start-ups and early-stage businesses involves risks, including illiquidity, lack 
					| of dividends, loss of investment and dilution, and it should be done only as part 
					| of a diversified portfolio. IDALP Capital is targeted exclusively at investors 
					| who are sufficiently sophisticated to understand these risks and make their own investment decisions. Please read the 
					a(href="./risk-warning.html").accent-link risk statement.
