section.gray-section.section.policy-page.text-section
	.container 
		h1.h1-texts.h2-line-15
			| Private policy 
		h4.heading_2
			| This website (the "Website") is the website of IDALP Capital.
		p.normal_text.w-60 
			| This Privacy Statement sets out the basis on which any personal data we collect from you, or that you provide to us, will be processed by us. Please read the following carefully before using or submitting information to the Website to understand our views and practices regarding your personal data and how we will treat it.
		p.normal_text.w-60  
			| IDALP Capital respects your right to privacy and will process personal information you provide only in accordance with data protection and other applicable privacy laws.
		h5.priv_heading
			| 1.	THE INFORMATION COLLECTED AND HOW IT IS USED
		p.normal_text 
			span.bold
				| a)	
			|	Depending on the nature of our relationship with you, we may collect and process the following information about you (including in the past twelve months)(to the extent permissible under applicable law):
		span.bold.normal_text
			|	Information you give us
		p.normal_text
			|	This is information about you that you give us by filling in forms on the Website, sending us your CV or by corresponding with us by phone, email, or otherwise engaging with one of our representatives. It includes information you provide when you report a problem with our site. The information you give us may include identifiers (such as your name, email address and phone number), sensitive/protected characteristic information (such as age, race, citizenship, gender); professional or employment-related information (such as job history); non-public education information (such as education records); and inferences are drawn from other personal information (such as background checks).
		span.bold.normal_text
			| Other Information we collect about you
		p.normal_text
			|	When you visit the Website, the webserver collects some basic Internet and other network activity information from you (such as your browser type, IP address, Internet service provider's domain name, which pages you accessed on the site, and when).
			|	If you exchange emails, telephone conversations, or other electronic communications with our employees and other staff members, our information technology systems will record details of those conversations, including identifiers (such as your name, email address, and phone number) and sometimes including the content and attachments of these communications.
		span.bold.normal_text
			|	Other Information we collect about you
		ul.priv-ul
			p.normal_text We may also collect some information from other sources. For example:
			li.normal_text If we have a business relationship with the organisation that you represent, your colleagues or other business contacts may give us information about you such as your contact details or details of your role in the relationship.
			li.normal_text We sometimes collect information from third party data providers or publicly available sources for anti-money-laundering, background checking and similar purposes, and to protect our business and comply with our legal and regulatory obligations.
		p.normal_text 
			span.bold b) 
			| We may use this information in the following ways:
			br
			| i.	Information you give us
			| We may use this information to provide you with the information and services that you request from us and to manage our relationship with you and (if relevant) any organisation that you represent.
			br
			| ii.	Information we collect about you	
		ul.priv-ul
			p.normal_text We may use this information to:
			li.normal_text provide you with, and maintain the quality of, the Website; and
			li.normal_text analyse the use of the Website in order to help guide improvements.
		p.normal_text 
			span.bold c)	
			| We may collect the information for purposes set out above and as required by applicable law, regulations or other contracts and to allow Idalp Capital to fulfil its business needs and legal obligations and will take appropriate measures to ensure that we keep your information secure, accurate and up to date.
		p.normal_text 
			span.bold d)	
			| Idalp Capital may also collect anonymized details about visitors to the Website for the purposes of aggregate statistics or reporting purposes. However, no single individual will be identifiable from the anonymized details collected for these purposes.
		p.normal_text 
			span.bold e)	
			|  We may from time to time review information about you held in our systems – including the contents of and other information related to your email and other communications with us. This may include reviews for the purposes of disclosure of information relevant to litigation and/or reviews of records relevant to internal or external regulatory or criminal investigations. To the extent permitted by applicable law, these reviews will be conducted in a reasonable and proportionate way and approved at an appropriate level of management. They may ultimately involve the disclosure of your information to governmental agencies and litigation counterparties as described below. Your emails and other communications may also occasionally be accessed by persons other than the member of staff with whom they are exchanged for ordinary business management purposes (for example, where necessary when a staff member is out of the office or has left Idalp Capital).
		p.normal_text 
			span.bold f) 
			| If you have provided information to Idalp Capital in respect of a role, position or career with Idalp Capital, we may contact you to request further information or retain and use the information provided to assess your suitability for future positions and roles within the organization.
		p.normal_text 
			span.bold g) 
			| We will only process your personal information as necessary so that we can pursue the purposes described above, and then only where we have concluded that our processing does not prejudice you or your privacy in a way that would override our legitimate interest in pursuing those purposes. In exceptional circumstances, we may also be required by law to disclose or otherwise process your personal information. We will tell you, when we ask you to provide information about yourself if provision of the requested information is necessary for compliance with a legal obligation or, on the other hand, if it is purely voluntary and there will be no implications if you decline to provide the information. Otherwise, you should assume that we need the information for our business or compliance purposes (as described above). If you are uncertain as to Idalp Capital's need for information that we request from you, please contact the Idalp Capital representative asking for the information, or contact us (see below), with your query.
		h5.priv_heading
			| 2.	COOKIES 
		p.normal_text
			| The Website uses cookies to distinguish you from other users of our website. This helps us to provide you with a good experience when you browse our website and also allows us to improve our site. 	
		h5.priv_heading
			| 3.	DISCLOSURE OF YOUR INFORMATION
		p.normal_text 
			span.bold a) 
			| We may share your personal information, reasonably necessary and in accordance with applicable law for the various purposes set out in paragraph 1.2 with:
			| other members of the Idalp Capital group of companies;
			| your colleagues within the organization that you represent;
			| business partners, suppliers, and sub-contractors or recruitment agencies (including any agents) for the performance of any contract we enter into with them or you;
			| selected third parties including analytics and search engine providers, that assist us in the hosting, support, improvement, and optimization of our site.
		p.normal_text 
			span.bold b) 
			| We may delegate the processing of your personal information to IT service providers, acting as processors, located within the European Union or if outside the European Union in accordance with Clause 4.
		p.normal_text 
			span.bold c) 
			|We may also disclose your personal information to third parties:
			| in the event that we sell or buy any business or assets, in which case we may disclose your personal data to the prospective seller or buyer of such business or assets;
			| if we are under a duty to disclose or share your personal data in order to comply with any legal obligation, where required to do so by applicable law, by a governmental body or by a law enforcement agency, or in order to enforce or apply our Terms of Use and other agreements; or
			| to protect our rights, property, or safety, our investors in our funds, or others.						
		p.normal_text 
			span.bold d) 
			| We do not sell your personal information.
		
		h5.priv_heading
			| 4. Road to sustainable future	
		p.normal_text 
			| The disclosures of your personal information described in paragraph 3 may involve transfers of your personal data to other entities within the Idalp Capital group or third-party service providers, whom may be located outside the European Economic Area in jurisdictions other than Jersey, where data protection laws may not be as strict as those in your home country. In these situations, we will seek to put in place appropriate safeguards.
		h5.priv_heading
			| 5.	SECURITY
		p.normal_text 
			| Whilst Idalp Capital takes appropriate technical and organizational measures to safeguard the personal information that you provide, no transmission over the Internet can ever be guaranteed secure. Consequently, please note that the security of any personal information that you transfer over the Internet 
			| to Idalp Capital cannot be guaranteed. Once we have received your information, we will use strict procedures and security features to try to prevent unauthorised access.
		h5.priv_heading
			| 6.	RETENTION OF INFORMATION
		p.normal_text 
			| We keep your personal data for as long as it is required by us for our legitimate business purposes, to perform our contractual obligations and as is required by law or regulatory obligations which apply to us. A copy of our record retention policies is available on request. Please contact us (see below).
			| Note that we may retain some limited information about you even when we know that you have left the organization that you represent, so that 
			| we can maintain a continuous relationship with you if and when we are in contact with you again, representing a different organization.
		
		h5.priv_heading
			| 7.	YOUR RIGHTS
		p.normal_text 
			span.bold a) 
			| You may have the right:
			br
			| To be provided with copies of personal information that Idalp Capital hold about you at any time;
			br
			| To ask Idalp Capital to update, correct, or delete any out-of-date or incorrect personal information held about you;
			br
			| To request the restriction of, the anonymization of, or to object to, our processing of your personal information;
			br
			| In certain circumstances, to receive your personal information that you have provided to us in a structured, commonly used and machine-readable format and to transmit that information to another controller;
			br
			| To request a confirmation that we process your personal information;
			br
			| To request that your personal information that is processed on the basis of consent is deleted or to withdraw such consent (except where retention 
			| is authorized by applicable law);
			br
			| To request information about public and private entities with which Idalp Capital has shared your personal information;
			br
			| To be informed about the possibility of not providing your consent for the processing of personal information and the consequences of such decisions.
		p.normal_text 
			span.bold b) 
			| If you wish to exercise any of the above rights, please contact us. Please also contact us if you are disabled and require an alternative version 
			| of this notice.
		p.normal_text 
			span.bold c) 	
			| We review and verify requests to protect your personal information, and will action data protection requests in a non-discriminatory manner 
			| and in accordance with applicable data protection laws and principles.		
		p.normal_text 
			span.bold d) 
			| We exercise particular care when receiving a request to exercise these rights on your behalf by a third party. In accordance with applicable data protection laws and principles, our team will ensure that the third party is correctly authorized by you to receive the requested information on your behalf, including where relevant requiring a signed letter of authority specifically naming the third party making the request and setting out the extent of authority being provided.
		p.normal_text 
			span.bold e) 
			| 	You can also raise complaints or concerns about our use or other processing of your personal information with the body regulating data protection in your country, where you live or work, or the location where the data protection issue arose. In Luxembourg this is the Commission Nationale pour la Protection des Données. 
		h5.priv_heading
			| 8.	THIRD-PARTY SITES
		p.normal_text 
			| The Website may contain links to other websites operated by third parties. Please note that this Privacy Statement applies only to the personal information that Idalp Capital collects through the Website and Idalp Capital will not be responsible for personal information that third parties may collect, store 
			| and use through their website. You should always read the privacy policy of each website you visit carefully.	
		h5.priv_heading
			| 9.	CHANGES TO OUR PRIVACY STATEMENT
		p.normal_text 
			| Any changes we make to our Privacy Statement in the future will be posted on this page and, where appropriate, notified to you by e-mail. Please check back frequently to see any updates or changes to our Privacy Statement.
			| This policy was last reviewed/updated: November 2020.
		h5.priv_heading
			| 10.	CONTACT US
		p.normal_text 
			| Questions, comments and requests regarding this Privacy Statement are welcomed and should be addressed using the contacts at this website or to IDALP Capital Sarl, 1 Haaptstrooss, 9806 Parc Housen, Luxemburg.			