section.gray-section.section.policy-page.text-section
	.container 
		h1.h1-texts.h2-line-15
			| Risk warning
		.risk-row 
			h4.heading_2 Investment and Other Financial Risks Warning
			p.normal_text 
				| When carrying out activities in the financial market, it is necessary to have a clear idea of the risks that exist for the investor, including Idalp Capital SARL, which should be taken into account when making specific decisions on the placement of investments and the implementation of other financial activities. This notice contains a description of the risks, familiarization with which will allow investors to make better decisions or not take risks by refusing to carry out risky transactions. At the same time, IDALP Capital does not intend 
				| to force investors to refuse to carry out any operations in
				| the financial market, and this notice is intended to help understand and assess the risks of this type of business 
				| and responsibly approach the decision on choosing an investment strategy.
		.risk-row 
			h4.heading_2 General Risks Associated with Transactions with Securities and Other Financial Instruments
			p.normal_text 
				| Considering the risks set out below, Idalp Capital recommends that potential investors carefully consider whether the risks arising from the performance of the relevant transactions are acceptable for specific individuals and taking into account their investment goals and financial capabilities. The Company informs that investing in securities and other financial instruments (hereinafter also investing in technology companies) may be associated with a high level of risks, especially when performing unsecured transactions and transactions  in the derivatives market. Risks are understood as the likelihood of events that entail losses for the investor of a part and even all of the invested funds.
			p.normal_text 
				| Idalp Capital draws the attention of potential investors that it is unable to foresee and warn investors about all possible risks. This notice does not contain an exhaustive list of all possible risks associated with investing in the financial markets, but gives a general idea of the risks and their classification. This notice discloses and warns only about the main part of the general risks associated with financial transactions in the markets. You should additionally familiarize yourself with the risk notices of specific transactions if you plan to perform such transactions. When working in financial markets, investors need to take into account the following risk factors of a very different nature.	
		.risk-row 
			h4.heading_2 Economic Risks
			p.normal_text 
				| Economic risks are the risks of financial losses associated with changes in the economic situation. Any participant in the investment process may find himself in a situation where, due to economic reasons, he will not be able to properly fulfill his obligations. Market risk is the possibility of unfavorable changes in the amount of payments or the value 
				| of a financial market instrument, including due to changes or volatility in the indicators of the underlying asset, exchange rates, interest rates, values of other market indicators; adverse changes in the geopolitical or internal political situation or their assessment by market participants; sharp devaluation of the national currency; the crisis of the government debt market, the banking and currency crisis; any other restrictions, force majeure circumstances, mainly of a spontaneous and military nature. These circumstances may lead 
				| to a decrease in the profitability of the transaction or financial instrument or even to possible losses. The investor must understand that the value of the financial instruments
				| belonging to him can both rise and fall, and its growth in the past does not mean its growth in the future.
			p.normal_text
				| Foreign exchange risks may incur losses that may arise as a result of unfavorable changes in foreign exchange rates. Investments made or valued in foreign currencies may 
				| be exposed to the risk of significant revaluation and changes associated with high inflation in a given currency and possible adverse changes in exchange rates. The amount 
				| of foreign exchange risk to an investor will depend on the degree of appreciation or depreciation of the currency in which the underlying asset of the financial derivative or security 
				| is expressed. Fluctuations in the exchange rate can have a negative impact on the value of the financial instrument, as well as on the financial or other economic result
				| of the transaction for the investor. In this regard, losses may arise, the amount of which is not limited, and cannot be fully estimated at the time of the conclusion of the relevant transaction.
			p.normal_text 
				| Credit risk - is that the issuer of a security may not fulfill its obligations to the owner of the securities or perform them improperly. Insolvency, failure to perform 
				| or improper performance by the issuer of its obligations may make it impossible to receive the payment due, which may entail significant (including unlimited) losses, including 
				| the loss of all economic benefits from the relevant transaction. Investors should constantly monitor the creditworthiness of the issuer. The financial indicators and statements 
				| of the issuer are published on its official website on the Internet or on another website for information disclosure. The assessment of the creditworthiness of the issuer of securities 
				| can be carried out using various methods, the choice of which is at your discretion. Do not rely solely on the opinion of rating agencies or analytical departments of other organizations that publish ratings of the issuer&#39;s creditworthiness from time to time. If the performance of the issuer&#39;s obligations is secured by the obligation of a third party, then the investor also exposes himself to the credit risk of such a third party.
		.risk-row 
			h4.heading_2 Legal Risks
			p.normal_text 
				| Legal risks are the risks of losses from investments in financial market instruments associated with the emergence of new or changes in existing regulatory and legislative acts, 
				| or the absence of legislation regulating activities in any sector of the financial market. The risk of tax legislation carries the risk of financial losses associated with changes 
				| in the existing taxation procedure for transactions in the financial markets. You should also consider the risk of termination or modification of international double taxation treaties, depending on your residence, which could adversely affect your legal position as an investor whose activities are subject to the agreement under which the investor received any tax breaks and benefits. Political risks also incur financial losses associated with a change in the political situation, when the most radical changes may lead to refusal or delay 
				| in the performance of issuers of their obligations on securities, to the limitation of certain investments, and possibly to the confiscation or nationalization of the property of certain categories of investors.
		.risk-row 
			h4.heading_2 Risk of Losses
			p.normal_text 
				| Financial instruments available for purchase and sale using Idalp Capital services, the results of investments in them, as well as funds credited by the Company to a special account are not insured and guaranteed by the state. Potential investors should understand that it is they, and no one else, who bear all the risks of investing in such instruments and may suffer losses, up to the loss of the entire amount of the invested funds. Based on this, you should not use Idalp Capital&#39;s services to invest funds that may be needed to finance current expenses (for example, renting a home, paying weaving debt obligations, etc.).
			p.normal_text 
				| No information received from the Company, its employees, authorized representatives, with the exception of cases provided for by the agreement with the Company, 
				| is not and cannot be considered by you as a recommendation for making transactions of purchase and sale of securities, other financial instruments or making other investments. Investors make decisions on transactions independently. Past experience and past investment performance do not determine future financial performance. Any financial success 
				| of others does not guarantee the same results for the investor. Investing in securities and other financial instruments involves other persons, whose actions can
				| lead to rapid changes in prices for securities and financial instruments, which, in turn, can lead the investor to believe that certain transactions should lead to profit. In reality, these conditions can quickly disappear, leaving the investor in a losing position.
		.risk-row 
			h4.heading_2 Risks Related to Derivative Financial Instruments
			p.normal_text 
				| These tools are not suitable for all clients. Moreover, some types of financial derivatives carry a higher level of risk than others. With relatively small adverse market price fluctuations, the investor is exposed to the risk of significant losses, including unlimited losses. Taking this into account, the execution of a certain type of transactions with securities 
				| can be recommended only to experienced investors with significant financial capabilities and practical knowledge in the field of investment strategies application.
			p.normal_text 
				| This notice also applies to derivative financial instruments aimed at mitigating the risks of other transactions in the stock market. An investor needs to carefully assess how derivative financial
				| instruments relate to transactions for which the investor intends to limit the risks, and make sure that the volume of the investor&#39;s position in the derivatives market matches the volume of the position in the market.
		.risk-row 
			h4.heading_2 Market Risks
			p.normal_text 
				| In addition to the general price risk borne by a client performing transactions on the securities market, also in the case of the conclusion of contracts, as well as in the case of the sale of certain types of contracts, the client will bear the risk of unfavorable price changes as financial instruments that are the underlying asset of financial derivatives, and the risk 
				| in relation to assets that serve as collateral. In the event of an unfavorable price change, the investor may in a relatively short period of time lose the funds that serve as collateral 
				| for derivative financial instruments.

		.risk-row 
			h4.heading_2 Liquidity Risks
			p.normal_text 
				| Liquidity risk is associated with the possibility of losses in the sale of financial instruments due to changes in the assessment of its quality. The liquidity of the securities market 
				| is limited and a
				| situation may arise when it will be impossible to execute a transaction order in full or even partially. Thus, financial instruments may not be sold or purchased 
				| in the required volume and within a reasonable time frame without loss in price, or their valuation may be difficult. In addition, the choice of one or another type of order 
				| for a transaction or its other elements increases some risks and reduces others. For example, the possible choice of a limited order increases the risk of its failure due to possible unfavorable changes in market conditions, but at the same time limits the price risk. So, if the investors investment strategy provides for the possibility of the need to close 
				| a position under the corresponding contract, in the event of or concluding a transaction with another contract, which reduces the risk under this contract, it is necessary to pay attention to the liquidity of the relevant contracts, since the closure of positions under illiquid contracts can lead to significant additional losses due to their low liquidity. Please note that, as a rule, contracts with more distant due dates are less liquid compared to contracts with closer due dates.
			p.normal_text 
				| If the contract concluded by the investor, which is a derivative financial instrument, is illiquid, and the investor has a need to close the position, it is imperative to consider, in addition to closing the position under this contract, alternative options for eliminating the risk by concluding transactions with other derivative financial instruments or with underlying assets. Using alternative options can lead to less losses. At the same time, difficulties with closing positions and losses in price can lead to an increase in losses in comparison with ordinary transactions. Investor orders aimed at limiting losses may not always limit losses to the expected level, since within the framework of the current market situation, the execution 
				| of such an order at the price indicated by the investor may be impossible.
		.risk-row 
			h4.heading_2 Investment Restriction Risk
			p.normal_text 
				| The risk associated with restrictions on the circulation of securities. Legislation or documents of the issuers of securities may provide for restrictions or the need to obtain prior approvals or permits for transactions with the issuer's securities. The possibility of such restrictions must be taken into account. In case of non-compliance with these requirements, it is possible to refuse to recognize the acquirer of securities of his rights, as well as to recognize the concluded transactions as invalid and apply the consequences of such recognition, most often this means the return of everything received under the transaction. The risk of a minority investor associated with a rather weak protection of such 
				| an investor who has an insignificant stake in the issuer's securities. The rights to securities may also be limited, which will not allow to have full information about the status 
				| of issuers and other information that could be of interest to the owner for investment activities, or for the purpose of exercising his rights as the owner of securities. The interests 
				| of minority shareholders are protected rather weakly and they are often neglected. The autonomy of the issuers 'executive bodies is great and the possibility of their control 
				| by the owners of securities is limited, the latter  often not only do not control and cannot influence the decisions of the issuers' executive bodies, and are poorly aware of such decisions.
		.risk-row 
			h4.heading_2 Operational Risk
			p.normal_text 
				| This type of risk consists in the possible infliction of losses associated with inadequate or erroneous internal processes in a financial institution, incorrect or illegal actions 
				| of employees of a financial institution, as well as organizers of trading in the securities market, professional participants in the securities market, clearing or credit organizations, imperfection and failures of used technologies and electronic systems, as well as various adverse external events of a non-financial nature. The circumstances constituting operational risk include, in particular:
			p.normal_text.w-500
				| - Fraud and abuse of office by employees of the invested company;
				br 				
				| - errors of employees in the implementation of actions to execute payment transactions;
				br 
				| - disruption of normal operation and malfunctions of communication facilities,			
				| computing, telecommunication and information systems, as well as software;
				br 
				| - violations in business processes, for example, errors due to imperfection of the
				br 
				| corporate governance structure of the financed company;
				br 
				| - the impossibility of obtaining quotes or other market information necessary for calculating
				| the amounts of payments for transactions;
				br 
				| - untimely submission of objections regarding erroneous information contained in the
				| confirmation of the transaction.	
			p.normal_text 
				| Investors may incur significant losses in connection with the occurrence of events constituting operational risk. At the same time, the possibility of the loss of all economic benefits from the transaction is not excluded. For example, as a result of operational risk, an investor may be deprived of the opportunity to exercise the right to execute a contract at a time when its execution is beneficial to the investor. It should be borne in mind that trade organizers, depositories, settlement and clearing systems and other organizations exclude liability for this type of risk in their documentation, therefore there are limited opportunities for compensation for losses caused by such circumstances. In some cases, 
				| the possibility of compensation for losses is completely absent. Use of information in financial markets is the risk of financial loss associated with the use of corporate information 
				| in financial markets. Since information comes from different sources, it is impossible to rely entirely on the relevance, accuracy and reliability of the information received, both 
				| in general and in part. There is a risk of receiving inaccurate information, the use of which may lead to a violation of the investors interests. It is also necessary to take into account the difference in standards and approaches in the preparation and provision of information used in different countries, since the principles and standards of accounting can be very different, which may make it difficult to adequately assess the
				| performance of invested companies.
			p.normal_text 
				| It should also be borne in mind that the necessary information may come with certain delays, which may lead to the loss of its relevance and an incorrect assessment of the circumstances or the impossibility of their assessment. Changes to the information provided earlier, its revision and clarification are possible, which may lead to a forced reassessment of the circumstances, the assessment of which was based on such information. Another risk - the risk of charging commissions and other fees is a threat of losses associated with complete or partial ignorance of the costs associated with the implementation of transactions with financial market instruments. Before starting to carry out certain financial transactions, it is required to take all the necessary measures to get a clear idea of all commissions and other fees that will be charged. These fees may be deducted from net income or add to expenses.
		.risk-row 
			h4.heading_2 Risk of Failure to Achieve Investment Objectives
			p.normal_text 
				| In any investment, there is no guarantee of preserving or increasing capital. There is always a danger of losing part or all of the capital invested in financial assets. It is necessary to independently select the type of order for the execution of transactions and their parameters that best meet the goals and objectives of investment, independently bearing responsibility for their choice. Also, Idalp Capital warns about the risks associated with the actions or, on the contrary, the inaction of third parties. The functioning of financial markets involves the activities of a number of professional participants in the securities market and other legal and private persons who are third parties in relation to the Company and its clients, however, the fulfillment of obligations under transactions in some cases may be impossible without the implementation of certain legal and actual actions by such third parties ... In these cases, there is a risk of impossibility of timely fulfillment of obligations under transactions.
		.risk-row 
			h4.heading_2 System Risks
			p.normal_text 	
				| With regard to securities, systemic risks are complemented by similar systemic risks inherent in the country where the corresponding securities or other financial instruments are issued or traded. The main factors affecting the level of systemic risk in general include the political situation, peculiarities of national legislation, currency regulation and the likelihood of their change, the state of public finances, the presence and degree of development of the financial system of the country where the person liable for the security is located. The level of systemic risk can be influenced by many other factors, including the likelihood of imposing restrictions on investments in certain sectors of the economy or the likelihood of a one-stage devaluation of the national currency. 
			p.normal_text 
				| The generally accepted integral assessment of the systemic risk of investing in a foreign security is the “sovereign rating” in foreign or national currency assigned to the country 
				| in which the issuer is registered by international rating agencies such as STANDARD & POOR'S, MOODY’S and others. However, it should be borne in mind that the ratings are only guidelines and may not correspond to the real situation at a particular moment. In the case of transactions with foreign depositary receipts, in addition to the risks associated 
				| with the issuer of the receipts themselves, it is necessary to take into account the risks associated with the issuer represented by these receipts. foreign securities. Meanwhile, 
				| there are risks of changing regulatory approaches to their ownership and circulation of securities in different countries, as well as to the accounting of rights to foreign financial instruments, as a result of which it may become necessary to alienate them despite investment plans. 
		.risk-row 
			h4.heading_2 Preferred Shareholders
			p.normal_text 
				| Preferred shares of an investee company of the same type provide shareholders - their owners with the same scope of rights and have the same par value. In cases stipulated 
				| by the current legislation, when the shareholders - owners of preferred shares of a certain type are granted the right to vote at the General Meeting of Shareholders, each preferred share grants its owner the right to one vote. Shareholders - owners of preferred shares with a certain amount of dividend, have the right to participate in the meeting of shareholders with the right to vote when deciding issues on the reorganization and liquidation of the company, issues on amendments and additions to the Articles of Association of the invested company, restricting the rights of shareholders - owners of preferred shares of this type, the issue of filing an application for the delisting of preferred shares of this type; participation in the meeting of shareholders of the invested company with the right to vote. This right terminates from the moment of the first payment of dividends in full. Also, holders of preferred shares have the right to receive a fixed dividend, as well as the liquidation value of a share, which is one hundred percent of its par value.
		.risk-row 
			h4.heading_2 Restriction of Disposal by Collateral
			p.normal_text 
				| The property or part of the property owned by the investor, as a result of the conclusion of an agreement, which is a derivative financial instrument, will be a security 
				| for the fulfillment of the investor's obligations under the agreement and their disposal, that is, the investor's ability to make transactions with him will be limited. The amount 
				| of collateral changes in the manner prescribed by the specification of the contract, and as a result, the investor may be limited in the ability to dispose of his property to a greater extent than before the conclusion of the contract.
		.risk-row 
			h4.heading_2 Risks of a Conflict of Interest
			p.normal_text 
				| According to this risk notice between Idalp Capital and the investor, as its client, a conflict of interest may arise, as a difference between your property interests and the property interests of the company, which may arise in connection with various situations described below. An investment advisor notifies you about the combination of various types of professional activities in the securities market. The combination of activities may entail the risk of a conflict of interest. A conflict of interest also arises or may arise:
			p.normal_text.w-500 		
				| -	Combining Idalp Capital of various types of professional activities in the securities market;
				br
				| -	In case of providing an individual investment recommendation containing a description of securities, transactions with them, if the investment adviser owns the same securities or intends to make a transaction with them;
				br
				| -	If the investment advisor is a party to a contract that is a derivative financial instrument, the underlying asset of which is securities, the description of which is contained in the individual investment recommendation;
				br
				| -	In the case of providing an individual investment recommendation containing a description of transactions with securities, the client's counterparties in which other clients of the investment adviser will be, or if these transactions will be made with the participation of other clients of the investment adviser; 
				br
				| -	In the case of providing an individual investment recommendation containing a description of transactions with financial instruments, if, if the specified recommendation is fulfilled, the transaction with financial instruments will be completed with the participation of an investment adviser;
				br
				| -	If the investment adviser concludes agreements with third parties, providing for the payment of remuneration for providing clients with individual investment recommendations;
				br
				| -	If the investment adviser concludes agreements with third parties, providing for the payment of remuneration to the investment advisor or the provision of other property benefits;
				br
				| -	In the case of providing an individual investment recommendation containing a description of securities, transactions with securities, the issuer or the obligated person 
				| for which the investment adviser or his affiliate is;
				br
				| -	In the case of providing an individual investment recommendation containing a description of transactions with securities, the client's counterparties for which will be the investment advisor's affiliates, or if these transactions will be made with the participation of the investment advisor's affiliates;
				br
				| -	Due to the fact that Idalp Capital may be one of the participants in the placement or offer, redemption of securities (underwriter, organizer, co-organizer of the offer or redemption, bookkeeper, manager or lead manager, global coordinator of the placement, offer, redemption or their organizations and the like;
				
				br
				| -	The conclusion of transactions with financial instruments, for the performance of which, in the interests of customers, the company receives remuneration, other provision, property benefits or exemption from the obligation to perform certain actions under an agreement with a third party;
				br
				| -	Providing, in the cases stipulated by the contract, individual investment recommendations, as well as information and analytical materials of a general nature, which are not individual investment recommendations;
				br
				| -	Execution of transactions, operations on instructions and in the interests of other clients of Idalp Capital.
				br
				| -	In other cases, when in the course of investment consulting activities, according to the investment advisor, a conflict of interest arises or may arise.
			p.normal_text 
				| Nevertheless, the Company, carrying out professional activities in the securities market, is guided by the principle of priority of the interests of the Client as an investor 
				| over the own interests of the Company, takes all necessary and possible measures to identify and control the conflict of interests of the Client and the company or its employees, as well as to prevent it consequences in accordance with the internal document Idalp Capital, which defines the list of measures to prevent conflicts of interest.
				| Due to the fact that the company carries out various types of professional activities in the securities market, Idalp Capital has affiliates, partners for whom the Company searches for clients, counterparties, the company, for objective reasons that do not depend on the will and actions of the company, in some cases cannot prevent the occurrence 
				| of from the specified sources of conflict of interest of the above nature.	
		.risk-row 
			h4.heading_2 Trust Management Risks
			p.normal_text
				| When transferring property to the trust management of property rights of Idalp Capital, you should take into account that its investment profile includes an acceptable risk, which 
				| is defined as the  maximum possible reduction in the value of your investment portfolio as a founder of management during the investment horizon relative to the value of the property that constitutes the client's investment portfolio for the date of the beginning of the investment horizon, excluding the factor related to the addition or withdrawal of assets. 
				| If you do not agree with the acceptable risk calculated by Idalp Capital, the company may revise the acceptable risk downward while changing the investment profile, if this is provided by the internal documents of the Company.
		.risk-row 
			h4.heading_2 Risks of Instruments Designed for Qualified Investors
			p.normal_text
				| It should be borne in mind that financial instruments intended for qualified investors carry increased investment risks and are not suitable for every person who is a qualified investor.			