section.gray-section.section.white-papers.text-section
	.container 
		h1.h1-texts.h2-line-15
			| White Papers
		.white-papers-block
			//- .papers-item
			//- 	p.papers_header 
			//- 		| 3 Lessons From the History of Equity Investing
			//- 	p.wpt_text 
			//- 		| We are offering this white paper to share a few eternal rules of equity investing that seem more important now than ever. These truths have stood the test of time, centuries in some cases, and we expect them to endure.     
			//- 	a.btn(href="#")
			//- 		| Download
			//- 		svg(width='12' height='12' viewbox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg')
			//- 			path(d='M5.46967 11.5303C5.76256 11.8232 6.23744 11.8232 6.53033 11.5303L11.3033 6.75736C11.5962 6.46447 11.5962 5.98959 11.3033 5.6967C11.0104 5.40381 10.5355 5.40381 10.2426 5.6967L6 9.93934L1.75736 5.6967C1.46447 5.40381 0.989593 5.40381 0.696699 5.6967C0.403806 5.98959 0.403806 6.46447 0.696699 6.75736L5.46967 11.5303ZM5.25 3.27835e-08L5.25 11L6.75 11L6.75 -3.27835e-08L5.25 3.27835e-08Z' fill='#F8F8F8')

			//- .papers-item
			//- 	p.papers_header 
			//- 		| The J-Curve and Building a Self-Funding Private Equity Portfolio
			//- 	p.wpt_text 
			//- 		| J-Curve, a tool for visualising the net cash flows connected with a private equity fund investment, helps explain the benefits of building a portfolio of several funds.
			//- 	a.btn(href="#")
			//- 		| Download

			//- 		svg(width='12' height='12' viewbox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg')
			//- 			path(d='M5.46967 11.5303C5.76256 11.8232 6.23744 11.8232 6.53033 11.5303L11.3033 6.75736C11.5962 6.46447 11.5962 5.98959 11.3033 5.6967C11.0104 5.40381 10.5355 5.40381 10.2426 5.6967L6 9.93934L1.75736 5.6967C1.46447 5.40381 0.989593 5.40381 0.696699 5.6967C0.403806 5.98959 0.403806 6.46447 0.696699 6.75736L5.46967 11.5303ZM5.25 3.27835e-08L5.25 11L6.75 11L6.75 -3.27835e-08L5.25 3.27835e-08Z' fill='#F8F8F8')
			//- .papers-item
			//- 	p.papers_header 
			//- 		| What now? Private markets funds and the way forward
			//- 	p.wpt_text 
			//- 		| After a complex year for the economy and markets, 
			//- 		| we discuss the way forward and highlight how private equity funds as well as funds that incorporate elements of distressed debt stand to outperform in 2021.
			//- 	a.btn(href="#")
			//- 		| Download
			//- 		svg(width='12' height='12' viewbox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg')
			//- 			path(d='M5.46967 11.5303C5.76256 11.8232 6.23744 11.8232 6.53033 11.5303L11.3033 6.75736C11.5962 6.46447 11.5962 5.98959 11.3033 5.6967C11.0104 5.40381 10.5355 5.40381 10.2426 5.6967L6 9.93934L1.75736 5.6967C1.46447 5.40381 0.989593 5.40381 0.696699 5.6967C0.403806 5.98959 0.403806 6.46447 0.696699 6.75736L5.46967 11.5303ZM5.25 3.27835e-08L5.25 11L6.75 11L6.75 -3.27835e-08L5.25 3.27835e-08Z' fill='#F8F8F8')
