- var darkHeader = false;
doctype html
html(lang="en")
	include includes/head.pug
	body.mainPage
		include includes/header-light.pug
		
		include includes/contacts-page.pug

		include includes/footer.pug

		include includes/foot.pug
