- var darkHeader = false;
doctype html
html(lang="en")
	include includes/head.pug
	body.mainPage
		include includes/header.pug
		
		include includes/family-page.pug

		include includes/light-footer.pug

		include includes/foot.pug