- var darkHeader = true;
doctype html
html(lang="en")
	include includes/head.pug
	body.mainPage
		include includes/header.pug
		
		include includes/liquid-page.pug

		include includes/footer.pug

		include includes/foot.pug