- var darkHeader = false;
- var WhitePage = true; 
doctype html
html(lang="en")
	include includes/head.pug
	body.mainPage
		include includes/header-light.pug
		
		include includes/white-page.pug

		include includes/footer.pug

		include includes/foot.pug