.imprint{
    padding-top: 100px;
    padding-bottom: 100px;
}

.simple_text {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
    color: #151515;
    margin-bottom: 0px;
    margin-top: 10px;
}

.simple_bold{ 
    font-weight: 600;
    margin-bottom: 15px;
}

.text-row{
    border-bottom: 1px solid #ADADAD;
}

.text-section{
    .h2-line-15{
        margin-bottom: 35px;
    }
    .heading_3{
        padding-left: 0px;;
    }
}

.simple-contacts {
    padding-top: 20px;
    padding-bottom: 50px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
    color: $darkColor;
    display: flex;
    .item{
        min-width: 300px;
    }
    .simple-contacts-name{
        margin-bottom: 10px;
    }
    a {
        font-weight: 600;
        color: $darkColor;
        &:hover{
            color: $accentColor;
            transition: all ease-inb-out 0.3s;
        }
    }

}

.h1-texts{
    font-size: 100px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 100px;
    line-height: 100%;
    margin-top: 0px;;
    /* identical to box height, or 100px */

    text-transform: uppercase;

    /* black */

    color: #151515;
}
.heading_3-texts{
    font-family: inherit;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 130%;
    color: #151515;
}


@media (max-width: 950px){
    .imprint{
        padding-top: 70px;
        padding-bottom: 40px;
    }
    .simple-contacts {
        flex-direction: column;
        .item:first-child{
            margin-bottom: 30px;
        }
    }
    
}

@media (max-width: 760px){
    .contcts-section{
        .simple-contacts.h2-line-15{
            padding: 0px;
        }
    }
    .h1-texts{
        font-size: 45px;
        
    }
}